:root {
    --themeColor: rgb(132, 67, 255);
	--halfPixel: calc(0.25px + 0.015vw);
} body.dark {
	--themeColor: rgb(254, 247, 167);
}

html {
	height: 0px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: hidden;
} html::-webkit-scrollbar { display: none }

body {
	display: flex;
	justify-content: center;
	margin: 0px;
	font-family: Jost;
	position: absolute;
	overflow-y: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: rgb(50, 50, 50);
	scrollbar-gutter: stable both-edges;
	overscroll-behavior: contain;
	scroll-behavior: smooth;
} body.dark { color: rgb(255, 255, 255) }
body.en *, body.de * { font-size: calc(14px + 0.3vw) }
body.zh-Hans * { font-size: calc(13px + 0.3vw) }
body.non_transition *, body.non_transition { transition: none !important }

.center_text, p, li, a, h1, h2, h3, h4, h5, h6, strong, em, ul li::before {
	transition: color 300ms, opacity 300ms, text-shadow 300ms;
} hr, img, body {
	transition: background 300ms, opacity 300ms, box-shadow 300ms, border 300ms;
} .demobox {
	transition: color 300ms, background-color 300ms, box-shadow 300ms, border 300ms;
}

.background_color { background-color: rgb(255, 255, 255) }
body.dark .background_color { background-color: rgb(53, 53, 53) }

main {
	padding: 1px 11px 1px 11px;
	height: fit-content;
	scroll-behavior: smooth;
	width: calc(100% - 22px);
} main.normal_padding { padding: 15px 11px }
main.top_padding { padding: 15px 11px 1px 11px }
main.bottom_padding { padding: 1px 11px 15px 11px }

hr {
	height: 0.75px;
	width: 100%;
	margin: 15px 0px;
	background-color: rgba(255, 255, 255, 0.4);
	border: none;
} body.dark hr { background-color: rgba(255, 255, 255, 0.2) }

p {
	margin: 15px 0px;
	text-align: justify;
}

ol, ul { margin: -5px 0px 0px 0px }

li {
	margin: 10px 0px;
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	margin: calc(20px + 0.8vw) 0px;
	text-align: center;
	color: var(--themeColor);
	font-family: Cormorant SC;
	font-weight: bold;
	line-height: 100%;
}

h1 {
	font-size: calc(30px + 2.5vw) !important;
	text-shadow:
		0 var(--halfPixel) 0 rgb(247, 247, 247),
		0 calc(var(--halfPixel) * 2) 0 rgb(238, 237, 238),
		0 calc(var(--halfPixel) * 3) 0 rgb(229, 227, 229),
		0 calc(var(--halfPixel) * 4) 0 rgb(220, 217, 220),
		0 calc(var(--halfPixel) * 5) 0 rgb(211, 207, 211),
		0 calc(var(--halfPixel) * 6) 0 rgb(202, 197, 202),
		0 calc(var(--halfPixel) * 7) 0 rgb(193, 187, 193),
		0 calc(var(--halfPixel) * 8) 0 rgb(184, 177, 184),
		0 calc(var(--halfPixel) * 9) 0 rgb(175, 167, 175),
		var(--halfPixel) calc(var(--halfPixel) * 10) 4px rgba(0, 0, 0, 0.3);
} body.dark h1{
	text-shadow:
		0 var(--halfPixel) 0 rgb(140, 140, 113),
		0 calc(var(--halfPixel) * 2) 0 rgb(128, 128, 104),
		0 calc(var(--halfPixel) * 3) 0 rgb(116, 116, 95),
		0 calc(var(--halfPixel) * 4) 0 rgb(104, 104, 86),
		0 calc(var(--halfPixel) * 5) 0 rgb(92, 92, 77),
		0 calc(var(--halfPixel) * 6) 0 rgb(80, 80, 68),
		0 calc(var(--halfPixel) * 7) 0 rgb(68, 68, 59),
		0 calc(var(--halfPixel) * 8) 0 rgb(56, 56, 50),
		0 calc(var(--halfPixel) * 9) 0 rgb(44, 44, 41),
		var(--halfPixel) calc(var(--halfPixel) * 10) 4px rgba(0, 0, 0, 0.6);
} h2 {
	font-size: calc(28px + 2vw) !important;
	text-shadow:
		0 var(--halfPixel) 0px rgb(247, 247, 247),
		0 calc(var(--halfPixel) * 2) 0 rgb(238, 237, 238),
		0 calc(var(--halfPixel) * 3) 0 rgb(229, 227, 229),
		0 calc(var(--halfPixel) * 4) 0 rgb(220, 217, 220),
		0 calc(var(--halfPixel) * 5) 0 rgb(211, 207, 211),
		0 calc(var(--halfPixel) * 6) 0 rgb(202, 197, 202),
		0 calc(var(--halfPixel) * 7) 0 rgb(193, 187, 193),
		0 calc(var(--halfPixel) * 8) 0 rgb(184, 177, 184),
		var(--halfPixel) calc(var(--halfPixel) * 9) 4px rgba(0, 0, 0, 0.3);
} body.dark h2 {
	text-shadow:
		0 var(--halfPixel) 0 rgb(140, 140, 113),
		0 calc(var(--halfPixel) * 2) 0 rgb(128, 128, 104),
		0 calc(var(--halfPixel) * 3) 0 rgb(116, 116, 95),
		0 calc(var(--halfPixel) * 4) 0 rgb(104, 104, 86),
		0 calc(var(--halfPixel) * 5) 0 rgb(92, 92, 77),
		0 calc(var(--halfPixel) * 6) 0 rgb(80, 80, 68),
		0 calc(var(--halfPixel) * 7) 0 rgb(68, 68, 59),
		0 calc(var(--halfPixel) * 8) 0 rgb(56, 56, 50),
		var(--halfPixel) calc(var(--halfPixel) * 9) 4px rgba(0, 0, 0, 0.6);
} h3 {
	font-size: calc(26px + 1.5vw) !important;
	text-shadow:
		0 var(--halfPixel) 0px rgb(247, 247, 247),
		0 calc(var(--halfPixel) * 2) 0 rgb(238, 237, 238),
		0 calc(var(--halfPixel) * 3) 0 rgb(229, 227, 229),
		0 calc(var(--halfPixel) * 4) 0 rgb(220, 217, 220),
		0 calc(var(--halfPixel) * 5) 0 rgb(211, 207, 211),
		0 calc(var(--halfPixel) * 6) 0 rgb(202, 197, 202),
		0 calc(var(--halfPixel) * 7) 0 rgb(193, 187, 193),
		var(--halfPixel) calc(var(--halfPixel) * 8) 4px rgba(0, 0, 0, 0.3);
} body.dark h3 {
	text-shadow:
		0 var(--halfPixel) 0 rgb(140, 140, 113),
		0 calc(var(--halfPixel) * 2) 0 rgb(128, 128, 104),
		0 calc(var(--halfPixel) * 3) 0 rgb(116, 116, 95),
		0 calc(var(--halfPixel) * 4) 0 rgb(104, 104, 86),
		0 calc(var(--halfPixel) * 5) 0 rgb(92, 92, 77),
		0 calc(var(--halfPixel) * 6) 0 rgb(80, 80, 68),
		0 calc(var(--halfPixel) * 7) 0 rgb(68, 68, 59),
		var(--halfPixel) calc(var(--halfPixel) * 8) 4px rgba(0, 0, 0, 0.6);
} h4 {
	font-size: calc(24px + 1vw) !important;
	text-shadow:
		0 var(--halfPixel) 0px rgb(247, 247, 247),
		0 calc(var(--halfPixel) * 2) 0 rgb(238, 237, 238),
		0 calc(var(--halfPixel) * 3) 0 rgb(229, 227, 229),
		0 calc(var(--halfPixel) * 4) 0 rgb(220, 217, 220),
		0 calc(var(--halfPixel) * 5) 0 rgb(211, 207, 211),
		0 calc(var(--halfPixel) * 6) 0 rgb(202, 197, 202),
		var(--halfPixel) calc(var(--halfPixel) * 7) 4px rgba(0, 0, 0, 0.3);
} body.dark h4 {
	text-shadow:
		0 var(--halfPixel) 0 rgb(140, 140, 113),
		0 calc(var(--halfPixel) * 2) 0 rgb(128, 128, 104),
		0 calc(var(--halfPixel) * 3) 0 rgb(116, 116, 95),
		0 calc(var(--halfPixel) * 4) 0 rgb(104, 104, 86),
		0 calc(var(--halfPixel) * 5) 0 rgb(92, 92, 77),
		0 calc(var(--halfPixel) * 6) 0 rgb(80, 80, 68),
		var(--halfPixel) calc(var(--halfPixel) * 7) 4px rgba(0, 0, 0, 0.6);
} h5 {
	font-size: calc(22px + 0.5vw) !important;
	text-shadow:
		0 var(--halfPixel) 0px rgb(247, 247, 247),
		0 calc(var(--halfPixel) * 2) 0 rgb(238, 237, 238),
		0 calc(var(--halfPixel) * 3) 0 rgb(229, 227, 229),
		0 calc(var(--halfPixel) * 4) 0 rgb(220, 217, 220),
		0 calc(var(--halfPixel) * 5) 0 rgb(211, 207, 211),
		var(--halfPixel) calc(var(--halfPixel) * 6) 4px rgba(0, 0, 0, 0.3);
} body.dark h5 {
	text-shadow:
		0 var(--halfPixel) 0 rgb(140, 140, 113),
		0 calc(var(--halfPixel) * 2) 0 rgb(128, 128, 104),
		0 calc(var(--halfPixel) * 3) 0 rgb(116, 116, 95),
		0 calc(var(--halfPixel) * 4) 0 rgb(104, 104, 86),
		0 calc(var(--halfPixel) * 5) 0 rgb(92, 92, 77),
		var(--halfPixel) calc(var(--halfPixel) * 6) 4px rgba(0, 0, 0, 0.6);
} h6 {
	font-size: 20px !important;
	font-size: calc(22px + 0.5vw) !important;
	text-shadow:
		0 var(--halfPixel) 0px rgb(247, 247, 247),
		0 calc(var(--halfPixel) * 2) 0 rgb(238, 237, 238),
		0 calc(var(--halfPixel) * 3) 0 rgb(229, 227, 229),
		0 calc(var(--halfPixel) * 4) 0 rgb(220, 217, 220),
		var(--halfPixel) calc(var(--halfPixel) * 5) 4px rgba(0, 0, 0, 0.3);
} body.dark h6 {
	text-shadow:
		0 var(--halfPixel) 0 rgb(140, 140, 113),
		0 calc(var(--halfPixel) * 2) 0 rgb(128, 128, 104),
		0 calc(var(--halfPixel) * 3) 0 rgb(116, 116, 95),
		0 calc(var(--halfPixel) * 4) 0 rgb(104, 104, 86),
		var(--halfPixel) calc(var(--halfPixel) * 5) 4px rgba(0, 0, 0, 0.6);
}

body.zh-Hans h1, body.zh-Hans h2, body.zh-Hans h3, body.zh-Hans h4, body.zh-Hans h5, body.zh-Hans h6 {
	font-family:'STDongGuanTi bld' !important;
	font-weight: normal !important;
	line-height: 120% !important;
}

a, .fake_a {
    text-decoration: none;
    color: var(--themeColor);
	font-weight: 800;
	font-style: italic;
	cursor: pointer;
} a:hover, .fake_a:hover, body.dark a:hover, body.dark .fake_a:hover { color: rgb(109, 173, 208) }

.shadow { box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15) }
body.dark .shadow { box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.3) }

.border {
	border: rgba(255, 255, 255, 0.4) solid 0.75px;
	box-sizing: border-box;
	border-radius: 15px;
	overflow: hidden;
} body.dark .border { border: rgba(255, 255, 255, 0.2) solid 0.75px }

ul { list-style-type: none }

main p, main li, main strong, main em, main a, main .fake_a { line-height: calc(23px + 0.3vw) }
body.zh-Hans main p, body.zh-Hans main li, body.zh-Hans main strong, body.zh-Hans main em, body.zh-Hans main a, body.zh-Hans main .fake_a { line-height: calc(23px + 0.3vw) }

img {
	border-radius: 15px;
	box-sizing: border-box;
	object-fit: contain;
	width: 100%;
} main img {
	max-width: 800px;
	margin: 0px auto;
	display: block;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
	border: rgba(255, 255, 255, 0.4) solid 0.75px;
} body.dark main img {
	box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.3);
	border: rgba(255, 255, 255, 0.2) solid 0.75px;
}

.icon {
	border-radius: 0px;
	margin: auto 0px;
	height: 30px;
	width:30px;
	box-shadow: none;
	border: none;
} body.dark .icon {
	box-shadow: none;
	border: none;
}

.clickable { cursor: pointer }
.clickable:hover { background-color: rgba(255, 255, 255, 0.4) }
body.dark .clickable:hover { background-color: rgba(0, 0, 0, 0.4) }
.clickable:active:hover { background-color: rgba(132, 67, 255, 0.5) }
body.dark .clickable:active:hover { background-color: var(--themeColor) }

.demobox {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 8px;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
	gap: 10px;
} body.dark .demobox { background-color: rgba(255, 255, 255, 0.1) }
.directory .demobox { flex: 1 1 auto }

.center_text {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0px;
	white-space: nowrap;
} .demobox .center_text { flex-direction: column }

@media (max-width: 768px) {
	main {
		padding: 1px 8px 1px 8px;
		width: calc(100% - 16px)
	} main.normal_padding { padding: 10px 8px }
	main.top_padding { padding: 10px 8px 1px 8px }
	main.bottom_padding { padding: 1px 8px 10px 8px }

	hr { margin: 10px 0px }

	::-webkit-scrollbar { width: 2px !important }

	p {
		text-align: left;
		margin: 10px 0px;
	}

	li {
		text-align: left;
		margin: 6px 0px;
	}

	ul li { padding-right: 0 !important }

	ol { padding-right: 0 !important }
}

strong { color: rgb(175, 51, 29) }
body.dark strong { color: rgb(254, 142, 124) }

em { color: rgb(17, 148, 117) }
body.dark em { color: rgb(90, 255, 178) }

@supports not (scrollbar-gutter: stable both-edges) {
    main {
		padding: 1px 15px 5px 15px;
		width: calc(100% - 30px);
	} main.normal_padding { padding: 15px }
	main.top_padding { padding: 15px 15px 5px 15px }
	main.bottom_padding { padding: 1px 15px 15px 15px }

	@media (max-width: 768px) {
		main {
			padding: 1px 10px 1px 10px;
			width: calc(100% - 20px)
		} main.normal_padding { padding: 10px 10px }
		main.top_padding { padding: 10px 10px 1px 10px }
		main.bottom_padding { padding: 1px 10px 10px 10px }
	}
}

::-webkit-scrollbar { width: 4px }
::-webkit-scrollbar-track { background-color: transparent }
::-webkit-scrollbar-thumb {
	background: rgba(30, 30, 30, 0.5);
	border-radius: 2px;
	transition: background-color 300ms;
} body.dark ::-webkit-scrollbar-thumb, body.dark::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.25) }
::-webkit-scrollbar-thumb:hover { background: rgba(30, 30, 30, 0.75) }
body.dark ::-webkit-scrollbar-thumb:hover, body.dark::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 255, 0.5) }

ul {
	list-style: none;
	padding-left: 0;
}

ul li {
	padding-left: calc(15px + 2vw);
	padding-right: calc(7.5px + 1vw);
	text-indent: calc(-18px - 0.35vw);
}

ol {
	padding-left: calc(15px + 2vw);
	padding-right: calc(7.5px + 1vw);
}

ul li::before {
	content: "✦";
	padding-right: 8px;
	color: var(--themeColor);
}