html {
	height: 0px;
}

body {
	margin: 0px;
	font-family: Jost;
	display: flex;
	align-items: center;
	align-content: center;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	color: rgb(60, 60, 60);
    z-index: -2;
	flex-direction: column;
	background-size: cover !important;
} body.dark {
	color: rgb(255, 255, 255);
} body * {
	font-size: calc(15px + 0.3vw);
} body.non-transition *, body.non-transition {
	transition: none !important;
}

body, main {
	-ms-overflow-style: none;
	scrollbar-width: none;
} body::-webkit-scrollbar, main::-webkit-scrollbar {
    display: none;
}

.center_text, p, li, a, h1, h2, h3, h4, h5, h6, strong {
	transition: color 300ms, opacity 300ms;
} .demobox, hr, img, body {
	transition: background 300ms, opacity 300ms, filter 300ms, box-shadow 300ms;
}

main {
	padding: 1px 15px 1px 15px;
	overflow: scroll;
	min-height: calc(100% - 2px);
	width: calc(100% - 30px);
} main.normal_padding {
	padding: 15px;
    min-height: calc(100% - 30px);
} main.top_padding {
	padding: 15px 15px 1px 15px;
    min-height: calc(100% - 16px);
} main.bottom_padding {
	padding: 1px 15px 15px 15px;
    min-height: calc(100% - 16px);
}

hr {
	height: 0.75px;
	width: 100%;
	margin: 15px 0px 15px 0px;
	background-color: rgba(255, 255, 255);
	border: none;
} body.dark hr {
	background-color: rgb(100, 100, 100);
}

h1 {
	margin: 15px;
	font-weight: 900;
	color: rgb(108, 46, 255);
	text-align: center;
	font-size: calc(20px + 3vw);
} body.dark h1 {
	color: rgb(254, 247, 167);
} h2 {
	margin: 15px;
	font-size: calc(20px + 2.4vw);
	font-weight: 800;
	color: rgb(108, 46, 255);
	text-align: center;
} body.dark h2 {
	color: rgb(254, 247, 167);
} h3 {
	margin: 15px;
	font-size: calc(20px + 1.8vw);
	font-weight: 700;
	color: rgb(108, 46, 255);
	text-align: center;
} body.dark h3 {
	color: rgb(254, 247, 167);
} h4 {
	margin: 15px;
	font-size: calc(20px + 1.2vw);
	font-weight: 600;
	color: rgb(108, 46, 255);
	text-align: center;
} body.dark h4 {
	color: rgb(254, 247, 167);
} h5 {
	margin: 15px;
	font-size: calc(20px + 0.6vw);
	font-weight: 500;
	color: rgb(108, 46, 255);
	text-align: center;
} body.dark h5 {
	color: rgb(254, 247, 167);
} h6 {
	margin: 15px;
	font-size: 20px;
	font-weight: 400;
	color: rgb(108, 46, 255);
	text-align: center;
} body.dark h6 {
	color: rgb(254, 247, 167);
}

p {
	font-weight: 400;
}

a, .fake_a {
    text-decoration: none;
    color: rgb(102, 47, 255);
	font-weight: 800;
	font-style: italic;
	cursor: pointer;
} body.dark a, body.dark .fake_a {
	color: rgb(254, 247, 167);
} a:hover, .fake_a:hover {
    color: rgb(109, 173, 208);
} body.dark a:hover, body.dark .fake_a:hover {
	color: rgb(109, 173, 208);
}

.shadow {
	box-shadow: 0px 2px 5px rgb(200, 200, 200);
} body.dark .shadow {
	box-shadow: 0px 2px 5px rgb(30, 30, 30);
}

img {
	border-radius: 15px;
	object-fit: contain;
	width: 100%;
} main img {
	max-width: 800px;
	margin: 0px auto 0px auto;
	display: block;
	box-shadow: 0px 2px 5px rgb(200, 200, 200);
} body.dark main img {
	box-shadow: 0px 2px 5px rgb(30, 30, 30);
}

.clickable:hover {
    color: rgb(109, 173, 208);
    background-color: rgba(229, 238, 245, 0.5) !important;
} body.dark .clickable:hover {
	color: rgb(190, 222, 248);
	background-color: rgba(60, 60, 60, 0.5) !important;
} .clickable:active:hover {
    background-color: rgba(190, 222, 248, 0.5) !important;
} body.dark .clickable:active:hover {
	color: rgb(190, 222, 248);
	background-color: rgba(75, 75, 75, 0.5) !important;
}

.demobox {
	flex: 1 1 auto;
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	padding: 8px 8px 8px 8px;
	align-items: center;
  	justify-content: center;
	text-align: center;
	display: flex;
} body.dark .demobox {
	background-color: rgb(53, 53, 53);
}

.center_text {
	display: flex;
	align-items: center;
	margin: auto auto auto 12px;
	padding: 0px;
	font-weight: 400;
	white-space: nowrap;
} .demobox .center_text {
	flex-direction: column;
}

.github-corner {
	visibility: hidden;
	pointer-events: none;
	cursor: auto;
    z-index: 10;
    position: fixed;
    top: 46.75px;
    right: 0;
    border: 0;
    fill: #151513;
    color: rgb(255, 255, 255);
} .github-corner:hover {
	color: rgb(255, 255, 255);
} body.dark .github-corner {
	color: rgb(255, 255, 255);
} .corner, .octo-arm, .octo-body {
    cursor: pointer;
} .octo-body:hover + .octo-arm, .corner:hover ~ .octo-arm, .octo-arm:hover {
    animation: octocat-wave 560ms ease-in-out;
}

.github-corner.show {
	visibility: visible;
	pointer-events: auto;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

.corner_svg {
	height: 80px;
	width: 80px;
}

@media (max-width: 768px) {
	.octo-body:hover + .octo-arm, .corner:hover ~ .octo-arm, .octo-arm:hover {
		animation: none;
	}
	.octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
	.corner_svg {
		height: 60px;
		width: 60px;
	}
}

strong {
	color: rgb(108, 46, 255);
} body.dark strong {
	color: rgb(254, 247, 167);
}