html {
	height: 0px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: hidden;
} html::-webkit-scrollbar {
	display: none;
}

body {
	display: flex;
	justify-content: center;
	margin: 0px;
	font-family: Jost;
	position: absolute;
	overflow-y: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: rgb(50, 50, 50);
	scrollbar-gutter: stable both-edges;
	overscroll-behavior: contain;
	scroll-behavior: smooth;
} body.dark {
	color: rgb(255, 255, 255);
} body * {
	font-size: calc(13px + 0.35vw);
} body.non_transition *, body.non_transition {
	transition: none !important;
}

.center_text, p, li, a, h1, h2, h3, h4, h5, h6, strong, em, ul li::before {
	transition: color 300ms, opacity 300ms;
} hr, img, body {
	transition: background 300ms, opacity 300ms, box-shadow 300ms;
} .demobox {
	transition: color 300ms, background-color 300ms, box-shadow 300ms;
}

.background_color {
	background-color: rgb(255, 255, 255);
} body.dark .background_color {
	background-color: rgb(53, 53, 53);
}

main {
	padding: 1px 11px 1px 11px;
	height: fit-content;
	scroll-behavior: smooth;
	width: calc(100% - 22px);
} main.normal_padding {
	padding: 15px 11px;
} main.top_padding {
	padding: 15px 11px 1px 11px;
} main.bottom_padding {
	padding: 1px 11px 15px 11px;
}

hr {
	height: 0.75px;
	width: 100%;
	margin: 15px 0px;
	background-color: rgba(255, 255, 255);
	border: none;
} body.dark hr {
	background-color: rgb(100, 100, 100);
}

p {
	margin: 15px 0px;
	text-align: justify;
}

ol, ul {
	margin: -5px 0px 0px 0px;
}

li {
	margin: 10px 0px;
	text-align: justify;
}

h1 {
	margin: 15px;
	font-weight: 900;
	color: rgb(132, 67, 255);
	text-align: center;
	font-size: calc(20px + 3vw);
} body.dark h1 {
	color: rgb(254, 247, 167);
} h2 {
	margin: 15px;
	font-size: calc(20px + 2.4vw);
	font-weight: 800;
	color: rgb(132, 67, 255);
	text-align: center;
} body.dark h2 {
	color: rgb(254, 247, 167);
} h3 {
	margin: 15px;
	font-size: calc(20px + 1.8vw);
	font-weight: 700;
	color: rgb(132, 67, 255);
	text-align: center;
} body.dark h3 {
	color: rgb(254, 247, 167);
} h4 {
	margin: 15px;
	font-size: calc(20px + 1.2vw);
	font-weight: 600;
	color: rgb(132, 67, 255);
	text-align: center;
} body.dark h4 {
	color: rgb(254, 247, 167);
} h5 {
	margin: 15px;
	font-size: calc(20px + 0.6vw);
	font-weight: 500;
	color: rgb(132, 67, 255);
	text-align: center;
} body.dark h5 {
	color: rgb(254, 247, 167);
} h6 {
	margin: 15px;
	font-size: 20px;
	font-weight: 400;
	color: rgb(132, 67, 255);
	text-align: center;
} body.dark h6 {
	color: rgb(254, 247, 167);
}

main p, main li, main strong, main em, main a, main .fake_a {
	line-height: calc(22px + 0.35vw);
}

a, .fake_a {
    text-decoration: none;
    color: rgb(132, 67, 255);
	font-weight: 800;
	font-style: italic;
	cursor: pointer;
} body.dark a, body.dark .fake_a {
	color: rgb(254, 247, 167);
} a:hover, .fake_a:hover {
    color: rgb(109, 173, 208);
} body.dark a:hover, body.dark .fake_a:hover {
	color: rgb(109, 173, 208);
}

.shadow {
	box-shadow: 0px 2px 5px rgb(200, 200, 200);
} body.dark .shadow {
	box-shadow: 0px 2px 5px rgb(30, 30, 30);
}

img {
	border-radius: 15px;
	object-fit: contain;
	width: 100%;
} main img {
	max-width: 800px;
	margin: 0px auto 0px auto;
	display: block;
	box-shadow: 0px 2px 5px rgb(200, 200, 200);
} body.dark main img {
	box-shadow: 0px 2px 5px rgb(30, 30, 30);
}

.clickable {
	cursor: pointer;
} .clickable:hover {
    color: rgb(109, 173, 208);
    background-color: rgba(222, 241, 255, 0.5) !important;
} body.dark .clickable:hover {
	color: rgb(190, 222, 248);
	background-color: rgba(75, 75, 75, 0.5) !important;
} .clickable:active:hover {
    background-color: rgba(181, 221, 255, 0.5) !important;
} body.dark .clickable:active:hover {
	color: rgb(190, 222, 248);
	background-color: rgba(60, 60, 60, 0.5) !important;
}

.demobox {
	flex: 1 1 auto;
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	padding: 8px 8px 8px 8px;
	align-items: center;
  	justify-content: center;
	text-align: center;
	display: flex;
} body.dark .demobox {
	background-color: rgb(53, 53, 53);
}

.center_text {
	display: flex;
	align-items: center;
	margin: auto auto auto 12px;
	padding: 0px;
	font-weight: 400;
	white-space: nowrap;
} .demobox .center_text {
	flex-direction: column;
}

@media (max-width: 768px) {
	main {
		padding: 1px 8px 1px 8px;
		width: calc(100% - 16px);
	} main.normal_padding {
		padding: 10px 8px;
	} main.top_padding {
		padding: 10px 8px 1px 8px;
	} main.bottom_padding {
		padding: 1px 8px 10px 8px;
	}

	hr {
		margin: 10px 0px;
	}

	::-webkit-scrollbar {
		width: 2px !important;
	}

	p {
		text-align: left;
		margin: 10px 0px;
	}

	li {
		text-align: left;
		margin: 6px 0px;
	}

	ul li {
		padding-right: 0 !important;
	}

	ol {
		padding-right: 0 !important;
	}
}

strong {
	color: rgb(255, 97, 73);
} body.dark strong {
	color: rgb(254, 142, 124);
}

em {
	color: rgb(18, 164, 130);
} body.dark em {
	color: rgb(90, 255, 178);
}

@supports not (scrollbar-gutter: stable both-edges) {
    main {
		padding: 1px 15px 5px 15px;
		width: calc(100% - 30px);
	} main.normal_padding {
		padding: 15px;
	} main.top_padding {
		padding: 15px 15px 5px 15px;
	} main.bottom_padding {
		padding: 1px 15px 15px 15px;
	}
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(30, 30, 30, 0.5);
	border-radius: 2px;
	transition: background-color 300ms;
} body.dark ::-webkit-scrollbar-thumb, body.dark::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(30, 30, 30, 0.75);
} body.dark ::-webkit-scrollbar-thumb:hover, body.dark::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.5);
}

ul {
	list-style: none;
	padding-left: 0;
}
  
ul li {
	padding-left: calc(15px + 2vw);
	padding-right: calc(7.5px + 1vw);
	text-indent: calc(-18px - 0.35vw);
}

ol {
	padding-left: calc(15px + 2vw);
	padding-right: calc(7.5px + 1vw);
}

ul li::before {
	content: "✦";
	padding-right: 8px;
	color: rgb(132, 67, 255);
} body.dark ul li::before {
	color: rgb(254, 247, 167);
}