body {
    margin: 0;
    padding: 0;
    height: calc(100% - 15px);
    background-color: rgb(240, 244, 248);
	font-family: Noto Sans;
	color: rgb(60, 60, 60);
	transition: 300ms;
}

body.dark {
    background-color: rgb(37, 37, 37);
	color: rgb(255, 255, 255);
	transition: 300ms;
}

main {
	padding: 1px 17px 1px 17px;
}

h1 {
	font-weight: 900;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: 300ms;
} body.dark h1 {
	color: rgb(254, 247, 167);
}

h2 {
	font-weight: 800;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: 300ms;
} body.dark h2 {
	color: rgb(254, 247, 167);
}

h3 {
	font-weight: 700;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: 300ms;
} body.dark h3 {
	color: rgb(254, 247, 167);
}

h4 {
	font-weight: 600;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: 300ms;
} body.dark h4 {
	color: rgb(254, 247, 167);
}

h5 {
	font-weight: 500;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: 300ms;
} body.dark h5 {
	color: rgb(254, 247, 167);
}

h6 {
	font-weight: 400;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: 300ms;
} body.dark h6 {
	color: rgb(254, 247, 167);
}

p {
	font-weight: 300;
}

a {
    text-decoration: none;
    color: rgb(102, 47, 255);
	font-weight: 800;
	font-style: italic;
	border-radius:10px;
	transition: 300ms;
}  body.dark a {
	color: rgb(254, 247, 167);
}

a:hover {
    color: rgb(109, 173, 208);
	transition: 300ms;
}  body.dark a:hover {
	color: rgb(109, 173, 208);
}

img {
	display: block;
	border-radius: 10px;
	object-fit: contain;
	width: 100%;
}

.center_text {
	display: block;
	margin: auto auto auto 12px;
	text-align: center;
	padding-left: 0px;
	font-weight: 300;
	transition: 300ms;
	color: rgb(60, 60, 60);
}  body.dark .center_text {
	color: rgb(255, 255, 255);
}

.sidenav {
	position: fixed;
	height: calc(100% - 30px);
	width: auto;
	top: 15px;
	left: 15px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	z-index: 1;
}
  
.sidenav a {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 2px solid rgb(228, 232, 233);
    padding: 8px 12px 8px 12px;
	background-color: rgb(247, 249, 250);
	display: flex;
	flex-direction: row;
    text-decoration: none;
    font-size: 15px;
	font-weight: 300;
	border-radius: 10px; 
	font-style: normal;
	color: rgb(60, 60, 60);
	transition: 300ms;
}  body.dark .sidenav a {
	background-color: rgb(45, 45, 45);
	border: 2px solid rgb(90, 90, 90);
	color: rgb(255, 255, 255);
}

.sidenav a:hover {
    color: rgb(109, 173, 208);
    background-color: rgb(229, 238, 245);
	transition: 300ms;
}  body.dark .sidenav a:hover {
	background-color: rgb(60, 60, 60);
	color: rgb(215, 231, 244)
}

.entry {
	position: absolute;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 2px solid rgb(228, 232, 233);
    padding: 8px 12px 8px 12px;
	background-color: rgb(247, 249, 250);
	display: flex;
	flex-direction: row;
    font-size: 15px;
	font-weight: 300;
	border-radius: 10px; 
	color: rgb(60, 60, 60);
	width: 100%;
	height: 50px;
	transition: 300ms;
}  body.dark .entry {
	background-color: rgb(45, 45, 45);
	border: 2px solid rgb(90, 90, 90);
	color: rgb(255, 255, 255);
}

.demobox {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	flex: 1 1 auto;
	border: 2px solid rgb(228, 232, 233);
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 8px 12px 8px 12px;
	text-align: center;
	display: flex;
	transition: 300ms;
}  body.dark .demobox {
	border: 2px solid rgb(90, 90, 90);
	background-color: rgb(53, 53, 53);
}

.rectangle {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 2px solid rgb(228, 232, 233);
	position: fixed;
	right: 15px;
	bottom: 15px;
	background-color: rgb(247, 249, 250);
	border-radius: 10px;
	z-index: -1;
	transition: 300ms;
} body.dark .rectangle {
	border: 2px solid rgb(90, 90, 90);
	background-color: rgb(45, 45, 45);
}

.cover_up {
	position: fixed;
	top: 0px;
	border-bottom: 2px solid rgb(228, 232, 233);
	background-color: rgb(240, 244, 248);
	height: 15px;
	right: 25px;
	transition: 300ms;
} body.dark .cover_up {
	background-color: rgb(38, 38, 38);
	border-bottom: 2px solid rgb(90, 90, 90);
}

.cover_down {
	position: fixed;
	bottom: 0px;
	border-top: 2px solid rgb(228, 232, 233);
	background-color: rgb(240, 244, 248);
	height: 15px;
	right: 25px;
	transition: 300ms;
} body.dark .cover_down {
	background-color: rgb(38, 38, 38);
	border-top: 2px solid rgb(90, 90, 90);
}

@media (max-width: 767px) {
	.sidenav {
		height: auto;
		width: calc(100% - 30px);
		flex-direction: row;
	}
	.entry {
	    height: 100%;
	    width: 78px;
	}
}