@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes myAnim {
	0%, 100% {
		transform: translateY(0);
	}
	10%, 30%, 50%, 70% {
		transform: translateY(-8px);
	}
	20%, 40%, 60% {
		transform: translateY(8px);
	}
	80% {
		transform: translateY(6.4px);
	}
	90% {
		transform: translateY(-6.4px);
	}
}

iframe {
	height: 100%;
	width: 100%;
	border: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: absolute;
} iframe::-webkit-scrollbar {
    display: none;
}

body {
	opacity: 0;
	flex-direction: row;
	background-color: rgb(240, 244, 248) !important;
} body.dark {
	background-color: rgb(38, 38, 38) !important;
}

.crumb, .warning, .text_dark, .text_light {
	transition: color 300ms, opacity 300ms;
} .entry, .music_container, .progress_container, .warning_bar, .card, .overlay, .sidenav_wrapper, .vertical_division, .stretch_bar, .division, #search_bar_center_wrapper {
	transition: background-color 300ms, opacity 300ms, filter 300ms;
} input[type=text] {
	transition: background-color 300ms, opacity 300ms, filter 300ms;
}

.background, .showcase {
	z-index: -1;
} #content_1, #content_district.slides #content_0 {
	z-index: 0;
} #content_district.slides #content_1, #content_0 {
	z-index: 1;
} #cover {
	z-index: 2;
}

input[type=text] {
	display: flex;
	background-color: rgb(247, 249, 250);
	min-width: 0px;
	float: right;
	border: none;
	outline: none;
	height: 46px;
	font-family: Jost;
	width: 100%;
	padding: 0px;
	text-align: center;
	flex-grow: 1;
} body.dark input[type=text] {
	background-color: rgb(45, 45, 45);
}

.sidenav.super_minimal .show {
	height: 1px !important;
	width: 100% !important;
	opacity: 1 !important;
	visibility: visible !important;
} @media (max-width: 767.9px) {
	.sidenav.super_minimal .show {
		height: 100% !important;
		width: 1px !important;
	}
}

#search_bar {
	min-width: 118px;
	border-radius: 0px 0px 0px 10px;
}

#pop_up_search {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	background-color: rgb(255, 255, 255);
	transition: background-color 300ms;
} body.dark #pop_up_search {
	background-color: rgb(53, 53, 53);
}

#pop_up_search_button {
	border-radius: 0px 0px 10px 10px;
}

#search_input_wrapper {
	padding: 0px;
	height: 46px;
	min-width: 0px;
	width: calc(100% - 47px);
}

.continue {
	padding: 15px;
	font-weight: 500;
	font-size: 20px;
	position: absolute;
	bottom: 20px;
	text-shadow: 2px 2px 3px black;
	text-align: center;
	width: calc(100% - 30px);
	color: rgb(255, 255, 255);
	animation: myAnim 10s ease 0s infinite normal forwards;
} .slogan {
	padding: 15px;
	white-space: pre-wrap;
	font-weight: 600;
	font-size: 50px;
	position: absolute;
	top: 30%;
	text-shadow: 3px 3px 6px rgb(40, 40, 40);
	text-align: center;
	width: calc(100% - 30px);
	color: rgb(254, 247, 167);
}

.music_container {
	background-color: rgb(247, 249, 250);
	font-weight: 400;
    height: 96px;
	display: flex;
    flex-direction: column;
	overflow: hidden;
} body.dark .music_container {
	background-color: rgb(45, 45, 45);
}
  
.action-btn {
    border: 0px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    position: relative;
}

#play .icon, #next .icon, #pop_up_play .icon, #pop_up_next .icon {
    height: 20px;
    width: 20px;
    bottom: 0px;
    position: absolute;
} #pop_up_play .icon, #pop_up_next .icon {
    height: 40px;
    width: 40px;
	left: -20px;
}
  
.action-btn:focus {
    outline: none;
}
  
.action-btn:hover {
    color: #8d91fe;
}
  
.progress_container {
    background-color: rgb(228, 228, 228);
    border-radius: 2px;
    cursor: pointer;
    margin: auto 0px auto 0px;
    height: 4px;
    width: 100%;
} body.dark .progress_container {
    background-color: rgb(67, 67, 67);
}
  
.progress {
    background-color: rgb(108, 46, 255);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 100ms linear, background-color 300ms;
} body.dark .progress {
    background-color: rgb(254, 247, 167);
}

.toggleWrapper {
    height: 100%;
    margin: auto;
	visibility: visible;
	opacity: 1;
}

.fancy_color {
	color: #FFCF96;
} body.dark .fancy_color {
	color: #749DD6;
}

.rectangle_wrapper {
	flex-grow: 1;
	display: flex;
	position: relative;
	margin: 15px 15px 15px 0px;
}

.rectangle {
	height: 100%;
	width: 100%;
	background-color: rgb(247, 249, 250);
	border-radius: 10px;
	transition: background-color 300ms, opacity 200ms, filter 300ms;
	position: absolute;
	flex-direction: column;
	overflow: hidden;
} body.dark .rectangle {
	background-color: rgb(45, 45, 45);
} body.dark .pop_up hr {
	background-color: rgb(30, 30, 30);
}

.content {
	overscroll-behavior: contain;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin: 0px;
	width: 100%;
	height: calc(100% - 47px);
	position: absolute;
	background-color: transparent;
} .content::-webkit-scrollbar {
    display: none;
}

.background {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 100%;
	left: 0px;
	right: 0px;
	bottom: -100%;
	transition: top 500ms, bottom 500ms;
} .background.on_dragging {
	-moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
} body.slide .background {
	top: 0px;
	bottom: 0px;
}

.showcase {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: top 500ms, bottom 500ms;
} body.slide .showcase {
	top: -100%;
	bottom: 100%;
}

.spinner {
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	padding: 3px;
	overflow: visible;
} .spinner > circle {
	fill: none;
	stroke: currentColor;
	transition: stroke 300ms;
	cx: 50%;
	cy: 50%;
	r: 50%;
	stroke: rgb(108, 46, 255);
	stroke-width: 6px;
	stroke-linecap: round;
	transform-origin: center;
} body.dark .spinner > circle {
	stroke: rgb(254, 247, 167);
}

.checked {
	cursor: default !important;
	background-color: rgb(190, 222, 248) !important;
	color: rgb(109, 173, 208) !important;
} body.dark .checked {
	background-color: rgb(75, 75, 75) !important;
	color: rgb(190, 222, 248) !important;
} .checked:hover {
	background-color: rgb(190, 222, 248) !important;
	color: rgb(109, 173, 208) !important;
} body.dark .checked:hover {
	background-color: rgb(75, 75, 75) !important;
	color: rgb(190, 222, 248) !important;
}

.demoblock {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	gap: 15px;
}

.crumb {
	font-weight: 500;
	line-height: 17px;
}

.theme_color {
	color: rgb(108, 46, 255);
} body.dark .theme_color {
    color: rgb(254, 247, 167);
}

.clickable_color:hover, body.dark .clickable_color:hover {
	cursor: pointer;
    color: rgb(109, 173, 208);
}

.rectangle.s404 #title_bar {
	height: 0px !important;
	overflow: hidden;
	padding: 0px !important;
}

body.dark #title_bar + hr {
	background-color: rgb(30, 30, 30);
}

.rectangle.s404 hr {
	height: 0px;
}

.rectangle.s404 .content {
	height: 100%;
}

#crumb_navigation {
	margin: 0px auto 0px 0px;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 0px;
	font-weight: 400;
}

.icon {
	border-radius: 0px;
	margin: auto 0px auto 0px;
	height: 30px;
	width:30px;
	filter: none;
}

svg {
	overflow: visible;
}

#next_dark,
#pop_up_next_dark,
body.dark #next_light,
body.dark #pop_up_next_light,
#pause_light,
#play_dark,
#pause_dark,
#pop_up_play_dark,
#pop_up_pause_dark,
#pop_up_pause_light,
body.dark #play_light,
body.dark #pause_light,
body.dark #pause_dark,
body.dark #pop_up_play_light,
body.dark #pop_up_pause_light,
body.dark #pop_up_pause_dark,
.music_container.playing #play_light,
#pop_up_content.playing #pop_up_play_light,
.music_container.playing #play_dark,
#pop_up_content.playing #pop_up_play_dark,
.music_container.playing #pause_dark,
#pop_up_content.playing #pop_up_pause_dark,
body.dark .music_container.playing #play_dark,
body.dark #pop_up_content.playing #pop_up_play_dark,
body.dark .music_container.playing #play_light,
body.dark #pop_up_content.playing #pop_up_play_light,
body.dark .music_container.playing #pause_light,
body.dark #pop_up_content.playing #pop_up_pause_light {
	transition: opacity 300ms;
	opacity: 0;
} #next_light,
#pop_up_next_light,
body.dark #next_dark,
body.dark #pop_up_next_dark,
#play_light,
#pop_up_play_light,
body.dark #play_dark,
body.dark #pop_up_play_dark,
.music_container.playing #pause_light,
#pop_up_content.playing #pop_up_pause_light,
body.dark .music_container.playing #pause_dark,
body.dark #pop_up_content.playing #pop_up_pause_dark {
	transition: opacity 300ms;
	opacity: 1;
}

#cover {
	display: flex;
	align-items: center;
	justify-content: center;
}

#music_cover {
	width: 30px;
	height: 30px;
	opacity: 1;
	visibility: visible;
	object-fit: cover;
	animation: rotateImage 5s linear infinite;
	animation-play-state: paused;
} .music_container.playing #music_cover {
	animation-play-state: running;
} .content.playing #pop_up_settings_music_cover {
	animation: rotateImage 5s linear infinite;
	animation-play-state: running;
}

.warning_bar {
	padding: 8px;
	height: 30px;
	width: auto;
	border-radius: 10px;
	flex-direction: row;
	display: flex;
	background-color: rgb(255, 255, 255);
	position: absolute;
	margin: auto;
} body.dark .warning_bar {
	background-color: rgb(53, 53, 53);
}

.centerer {
	position: fixed;
	width: 0px;
	overflow: visible;
	left: 50%;
	justify-content: center;
	display: flex;
	top: -50px;
	transition: top 300ms;
} .centerer.show {
	top: 15px;
}

#about_icon {
	width: 30px;
	height: 30px;
	opacity: 1;
	visibility: visible;
	object-fit: cover;
}

.pop_up .entry {
	visibility: visible;
	opacity: 1 !important;
	padding: 8px;
	height: 30px;
	width: calc(100% - 15px);
	border-radius: 10px;
	flex-direction: row;
	display: flex;
	background-color: rgb(255, 255, 255);
} body.dark .pop_up .entry {
	background-color: rgb(53, 53, 53);
}

.pop_up .text_light, .pop_up .text_dark {
	visibility: visible;
	opacity: 1;
}

.text_light {
	padding: 0px;
	color: rgb(109, 173, 208);
	left: 0px;
	margin: auto 0px auto 0px;
	font-size: 10px;
	font-weight: 800;
	overflow: visible;
	width: 0px;
} body.dark .text_light {
	color: rgb(255, 255, 255);
} .text_dark {
	padding: 0px;
	direction: rtl;
	color: rgb(60, 60, 60);
	right: 0px;
	margin: auto 0px auto 0px;
	font-size: 10px;
	font-weight: 800;
	overflow: visible;
	width: 0px;
} body.dark .text_dark {
	color: rgb(190, 222, 248);
}

.transitioning, .sidenav.transitioning * {
	transition: all 300ms ease !important;
}
	
.label_wrapper {
	width: calc(100% - 16px);
	height: calc(100% - 16px);
	min-width: 154px;
	min-height: 30px;
	padding: 8px;
	display: flex;
}

.entry {
	cursor: pointer;
	background-color: rgb(247, 249, 250);
	color: rgb(60, 60, 60);
	height: 46px;
	overflow: hidden;
} body.dark .entry {
	color: rgb(255, 255, 255);
	background-color: rgb(45, 45, 45);
}

.card {
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
	height: 300px;
	position: relative;
    flex: 1 1 200px;
	min-width: 200px;
} .card:hover .overlay {
	opacity: 0;
}

.background_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: unset;
	border-radius: 0px;
}

.overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(to top, rgb(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	align-items: flex-end;
} .overlay p {
	color: white;
	font-size: 1.2rem;
	margin: 0;
}

.thumbnail {
	aspect-ratio: 1 / 1;
	height: 100%;
	width: unset;
	object-fit: cover;
	border-radius: 10px;
	margin-right: 8px;
}

.introduction {
	font-size: 16px;
	margin: auto 0px auto 0px;
	text-align: center;
	line-height: 18px;
}

.title {
	font-size: 20px;
	margin: auto 0px 0px 0px;
	line-height: 21px;
}

.sidenav_wrapper {
	display: flex;
	margin: 0px;
	border-radius: 10px;
	overflow: hidden;
}

.vertical_division {
	height: 100%;
	width: 1px;
	background-color: rgb(210, 210, 210);
} body.dark .vertical_division {
	background-color: rgb(30, 30, 30);
}

@media (min-width: 768px) {
	#search_bar_center_wrapper .entry, #search_bar_center_wrapper #search_input_wrapper, #search_bar_center_wrapper #search_bar_center, #search_bar_center_wrapper .division {
		height: 0px;
	}

	#search_bar_wrapper {
		margin: 0px 0px 15px 0px;
	}

	#search_bar_center {
		writing-mode: vertical-lr;
	}

	.stretch_bar_wrapper {
		height: calc(100% - 15px);
		width: 1px;
		padding: 7.5px 7px 7.5px 7px;
		background-color: transparent;
		cursor: e-resize;
	} .stretch_bar {
		height: 100%;
		width: 100%;
		pointer-events: none;
		background-color: transparent;
	}

	.sidenav_wrapper {
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.sidenav {
		height: calc(100% - 30px);
		display: flex;
		flex-direction: column;
		margin: 15px 0px 15px 15px;
	} .division {
		height: 1px;
		width: 100%;
		background-color: rgb(210, 210, 210);
	} body.dark .division {
		background-color: rgb(30, 30, 30);
	}

	.upper {
		border-radius: 10px 10px 0px 0px;
	} .lower {
		border-radius: 0px 0px 10px 10px;
	}

	.sidenav.minimal {
		width: 46px;
	} 

	.sidenav.minimal .music_container {
		cursor: pointer;
		height: 46px;
		cursor: pointer;
	} .sidenav.minimal .music_container:hover {
		color: rgb(109, 173, 208);
		background-color: rgb(229, 238, 245);
	} body.dark .sidenav.minimal .music_container:hover {
		color: rgb(190, 222, 248);
		background-color: rgb(60, 60, 60);
	} .sidenav.minimal .music_container:active:hover {
		background-color: rgb(190, 222, 248);
	} body.dark .sidenav.minimal .music_container:active:hover {
		color: rgb(190, 222, 248);
		background-color: rgb(75, 75, 75);
	}
	
	.sidenav.minimal .vertical_division {
		opacity: 0;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0 !important;
		pointer-events: none;
		overflow: hidden;
	}

	.sidenav.minimal .text_dark,
	.sidenav.minimal .text_light {
		opacity: 0;
	}

	@media (max-height: 619.9px) {
		.stretch_bar_wrapper,
		.stretch_bar {
			pointer-events: none;
		}
	}

	.sidenav.super_minimal .upper {
		border-radius: 10px;
	} .sidenav.super_minimal .lower {
		border-radius: 10px;
	}

	.sidenav.super_minimal .division {
		height: 0px;
		opacity: 0;
		padding: 0px;
		visibility: hidden;
		overflow: hidden;
	}

	.sidenav.super_minimal .entry {
		height: 0px;
	}

	.sidenav.super_minimal #about_label {
		visibility: visible;
		opacity: 1;
		width: 46px;
		height: 46px;
		cursor: pointer;
		background-color: rgb(247, 249, 250);
		flex-direction: row;
		font-weight: 400;
	} body.dark .sidenav.super_minimal #about_label {
		color: rgb(255, 255, 255);
		background-color: rgb(45, 45, 45);
	}

	.sidenav.super_minimal #search_bar_wrapper {
		overflow: hidden;
		margin: 0px;
		filter: none !important;
	}

	.sidenav.super_minimal #search_input_wrapper {
		min-height: 0px;
		height: 0px;
		width: 0px;
	}
	
	.sidenav.super_minimal #search_bar_center_wrapper {
		margin: 15px 0px 15px 0px !important;
		flex-grow: 1;
		filter: drop-shadow(0px 2px 5px rgb(200, 200, 200));
	} body.dark .sidenav.super_minimal #search_bar_center_wrapper {
		filter: drop-shadow(0px 2px 5px rgb(30, 30, 30));
	}

	.sidenav.super_minimal #search_bar_center_wrapper .entry {
		height: auto !important;
	}
}

@media (max-width: 767.9px) {
	#search_bar_center_wrapper .entry,
	#search_bar_center_wrapper #search_input_wrapper,
	#search_bar_center_wrapper #search_bar_center,
	#search_bar_center_wrapper .division, #search_input_wrapper {
		width: 0px;
	}

	#search_bar_wrapper {
		margin: 0px 15px 0px 0px;
	}

	.introduction {
		font-size: 11px;
		line-height: 13px;
	}

	.title {
		font-size: 14px;
		line-height: 15px;
	}

	.sidenav {
		display: flex;
		height: 46px;
		width: calc(100% - 30px);
		flex-direction: row;
		margin: 15px;
	}

	.division {
		height: 100%;
		width: 1px;
		background-color: rgb(210, 210, 210);
	} body.dark .division {
		background-color: rgb(30, 30, 30);
	}

	.background {
		flex-direction: column;
	}

	.sidenav_wrapper {
		flex-direction: row;
		height: 100%;
		width: auto;
	}

	.rectangle_wrapper {
		margin: 0px 15px 15px 15px;
	}

	.upper {
		border-radius: 10px 0px 0px 10px;
	} .lower {
		border-radius: 0px 10px 10px 0px;
	}

	.stretch_bar_wrapper,
	.stretch_bar,
	.vertical_division,
	.sidenav .text_dark,
	.sidenav .text_light {
		opacity: 0;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0 !important;
		pointer-events: none;
		overflow: hidden;
		pointer-events: none;
	}

	.music_container {
		cursor: pointer;
		height: 46px;
		width: 46px;
		cursor: pointer;
	} .music_container:hover {
		color: rgb(109, 173, 208);
		background-color: rgb(229, 238, 245);
	} body.dark .music_container:hover {
		color: rgb(190, 222, 248);
		background-color: rgb(60, 60, 60);
	} .music_container:active:hover {
		background-color: rgb(190, 222, 248);
	} body.dark .music_container:active:hover {
		color: rgb(190, 222, 248);
		background-color: rgb(75, 75, 75);
	}

	.entry {
		width: 46px;
	}

	.sidenav.super_minimal .division {
		width: 0px;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		padding: 0px;
	}

	.sidenav.super_minimal .entry {
		width: 0px;
	}

	.sidenav.super_minimal .upper {
		border-radius: 10px;
	} .sidenav.super_minimal .lower {
		border-radius: 10px;
	}

	.sidenav.super_minimal #about_label {
		visibility: visible;
		opacity: 1;
		height: 46px;
		width: 46px;
		cursor: pointer;
		background-color: rgb(247, 249, 250);
		font-weight: 400;
	} body.dark .sidenav.super_minimal #about_label {
		background-color: rgb(45, 45, 45);
	}

	.sidenav.super_minimal #search_bar_wrapper {
		overflow: hidden;
		margin: 0px;
		filter: none !important;
	}

	.sidenav.super_minimal #search_bar_center_wrapper {
		margin: 0px 15px 0px 15px !important;
		flex-grow: 1;
		filter: drop-shadow(0px 2px 5px rgb(200, 200, 200));
	} body.dark .sidenav.super_minimal #search_bar_center_wrapper {
		filter: drop-shadow(0px 2px 5px rgb(30, 30, 30));
	}

	.sidenav.super_minimal #search_bar_center_wrapper .entry {
		width: 46px;
	}
}

#search_bar_wrapper {
	transition: height 300ms, filter 300ms; 
}

#search_bar_center_wrapper {
	overflow: hidden;
	filter: none;
	margin: 0px;
	filter: none;
}