@keyframes rotateImage {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

@keyframes myAnim {
	0%, 100% { transform: translateY(0) }
	10%, 30%, 50%, 70% { transform: translateY(-8px) }
	20%, 40%, 60% { transform: translateY(8px) }
	80% { transform: translateY(6.4px) }
	90% { transform: translateY(-6.4px) }
}

iframe {
	height: 100%;
	width: 100%;
	border: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: absolute;
} iframe::-webkit-scrollbar { display: none }

body {
	background-color: rgb(240, 244, 248) !important;
	display: flex;
	align-items: center;
	scrollbar-gutter: auto !important;
} body.dark { background-color: rgb(38, 38, 38) !important }

.background_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: unset;
} #background_img { border-radius: 0px }

.main_empty {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0px;
}

#badge {
	background-color: rgb(30, 30, 30);
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 20px;
	transition: opacity 500ms;
	justify-content: center;
    align-items: center;
} #badge.hide {
	pointer-events: none;
	opacity: 0;
}

#badge svg {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0;
}

#downloads {
	display: flex;
	width: fit-content;
	gap: 10px;
} #downloads.padding { margin-left: 8px }

.crumb, .warning, .flip_button svg, .text_dark, .text_light {
	transition: color 300ms, opacity 300ms, fill 300ms;
} .entry, .progress_container, .warning_bar, .flip_front, .flip_back, .overlay, .stretch_bar, #search_bar_center_wrapper, footer, .flip_button, .sidenav, .stretch_bar_wrapper, .label_wrapper, .flip_button, .button_wrapper, .music_container {
	transition: background 300ms, opacity 300ms, border 300ms, box-shadow 300ms, backdrop-filter 300ms, filter 300ms;
} .read_button, input[type=text] {
	transition: border 300ms, color 300ms, background 300ms, box-shadow 300ms;
}

#background_img, body {
	z-index: -2;
} .background, .showcase {
	z-index: -1;
} #content_1, #content_district.slides #content_0 {
	z-index: 0;
} #content_district.slides #content_1, #content_0 {
	z-index: 1;
} #cover, footer, .github-corner {
	z-index: 2;
} #badge {
	z-index: 3;
}

input[type = text] {
	background-color: transparent;
	min-width: 0px;
	float: right;
	border: none;
	outline: none;
	height: 46px;
	font-family: Jost;
	width: 100%;
	padding: 0px;
	text-align: center;
	color: rgb(50, 50, 50);
	display: flex;
	flex-grow: 1;
	background-color: rgba(255, 255, 255, 0.2);	
} body.dark input[type=text] {
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.2);
}
#search_bar { min-width: 112.25px }

#search_input_wrapper {
	padding: 0px;
	height: 46px;
	min-width: 0px;
	width: calc(100% - 46px);
	overflow: hidden;
	background: transparent !important;
}

.continue {
	padding: 5px;
	font-weight: 500;
	font-size: calc(20px + 0.3vw);
	position: absolute;
	bottom: 5px;
	text-shadow: 2px 2px 3px black;
	text-align: center;
	width: calc(100% - 10px);
	color: rgb(255, 255, 255);
	animation: myAnim 10s ease 0s infinite normal forwards;
} .slogan {
	padding: 15px;
	white-space: pre-wrap;
	font-size: calc(30px + 4vw) !important;
	position: absolute;
	text-shadow:
		0 var(--halfPixel) 0 rgb(140, 140, 113),
		0 calc(var(--halfPixel) * 2) 0 rgb(128, 128, 104),
		0 calc(var(--halfPixel) * 3) 0 rgb(116, 116, 95),
		0 calc(var(--halfPixel) * 4) 0 rgb(104, 104, 86),
		0 calc(var(--halfPixel) * 5) 0 rgb(92, 92, 77),
		0 calc(var(--halfPixel) * 6) 0 rgb(80, 80, 68),
		0 calc(var(--halfPixel) * 7) 0 rgb(68, 68, 59),
		0 calc(var(--halfPixel) * 8) 0 rgb(56, 56, 50),
		0 calc(var(--halfPixel) * 9) 0 rgb(44, 44, 41),
		var(--halfPixel) calc(var(--halfPixel) * 10) 4px rgba(0, 0, 0, 0.6);
	text-align: center;
	width: calc(100% - 30px);
	color: rgb(254, 247, 167);
} html[lang = zh-Hans] .slogan { font-family: 'STDongGuanTi bld'; }
html[lang = en] .slogan, html[lang = de] .slogan { font-family: 'Cormorant SC'; font-weight: 700; }

.music_container {
    height: 92px;
	display: flex;
}

.action-btn {
    border: 0px;
    padding: 0px;
    position: relative;
}

.action-btn .icon {
	cursor: pointer;
    height: 20px;
    width: 20px;
    bottom: 0px;
    position: absolute;
} .pop_up .action-btn .icon {
    height: 40px;
    width: 40px;
}

.action-btn:focus { outline: none }

.progress_container {
    cursor: pointer;
    margin: auto 0px;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: var(--themeColor);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 100ms linear, background-color 300ms;
}

.rectangle_wrapper {
	flex-grow: 1;
	position: relative;
	display: flex;
}

.rectangle {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: transparent;
	transition: opacity 200ms;
	position: absolute;
	flex-direction: column;
}

.directory {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

footer {
	position: sticky;
    top: 15px;
	padding: 8px 15px;
	display: flex;
	flex-direction: row;
	margin: 0px 11px 15px 11px;
	background-color: rgba(255, 255, 255, 0.2);
} body.dark footer { background-color: rgba(255, 255, 255, 0.1) }
.blurred { background-color: rgb(255, 255, 255, 0.75) }
body.dark .blurred { background-color: rgb(53, 53, 53, 0.75) }

#content_district.non_transition #title_bar, #content_district.non_transition .content, #content_district.non_transition .content_container, #content_district.non_transition #title_bar + hr, #content_district.non_transition .github-corner { transition: none !important }

.content {
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0px;
	scrollbar-gutter: stable both-edges;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
}

.showcase {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: top 500ms, bottom 500ms;
} body.slide .showcase {
	top: -100%;
	bottom: 100%;
}

.spinner {
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	padding: 3px;
	overflow: visible;
} .spinner > circle {
	fill: none;
	stroke: currentColor;
	transition: stroke 300ms;
	cx: 50%;
	cy: 50%;
	r: 50%;
	stroke: var(--themeColor);
	stroke-width: 6px;
	stroke-linecap: round;
	transform-origin: center;
}

.github-corner {
	transform: scaleX(-1) scaleY(-1);
	visibility: hidden;
	pointer-events: none;
	cursor: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0;
    fill: #151513;
    color: rgb(255, 255, 255);
} .github-corner:hover { color: rgb(255, 255, 255) }
body.dark .github-corner { color: rgb(255, 255, 255) }
.corner, .octo-arm, .octo-body { cursor: pointer }
.octo-body:hover + .octo-arm, .corner:hover ~ .octo-arm, .octo-arm:hover { animation: octocat-wave 560ms ease-in-out }

.github-corner.show {
	visibility: visible;
	pointer-events: auto;
}

@keyframes octocat-wave {
    0%, 100% { transform: rotate(0) }
    20%, 60% { transform: rotate(-25deg) }
    40%, 80% { transform: rotate(10deg) }
}

.corner_svg {
	height: 80px;
	width: 80px;
	fill:#151513;
	color:#fff;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}

.checked, html[lang = zh-Hans] #zh-Hans_label, html[lang = en] #en_label, html[lang = de] #de_label, input[type="radio"]:checked + label {
	cursor: default !important;
	background-color: rgba(132, 67, 255, 0.5) !important;
	color: rgb(255, 255, 255) !important;
} body.dark .checked, html[lang = zh-Hans] body.dark #zh-Hans_label, html[lang = en] body.dark #en_label, html[lang = de] body.dark #de_label, body.dark input[type="radio"]:checked + label {
	background-color: var(--themeColor) !important;
	color: rgb(50, 50, 50) !important;
}

.crumb {
	font-weight: 500;
	line-height: 17px;
	text-wrap: nowrap;
}

.clickable_color { cursor: pointer }
.clickable_color:hover, body.dark .clickable_color:hover { color: rgb(109, 173, 208) }

#crumb_navigation {
	margin: 0px auto 0px 0px;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 0px;
	font-weight: 400;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
} #crumb_navigation::-webkit-scrollbar { height: 4px }

#music_title {
	white-space: normal;
	margin: auto 0px auto auto;
	direction: rtl;
	height: 30px;
	padding: 0px 0px 0px 5px;
	line-height: 17px;
}

#next_dark, #previous_dark, #pop_up_next_dark, #pop_up_previous_dark,
body.dark #next_light, body.dark #previous_light, body.dark #pop_up_next_light, body.dark #pop_up_previous_light,
#pause_light, #play_dark, #pause_dark, #pop_up_play_dark, #pop_up_pause_dark, #pop_up_pause_light,
body.dark #play_light, body.dark #pause_light, body.dark #pause_dark, body.dark #pop_up_play_light, body.dark #pop_up_pause_light, body.dark #pop_up_pause_dark,
.music_container.playing #play_light, #pop_up_content.playing #pop_up_play_light, .music_container.playing #play_dark, #pop_up_content.playing #pop_up_play_dark, .music_container.playing #pause_dark, #pop_up_content.playing #pop_up_pause_dark,
body.dark .music_container.playing #play_dark, body.dark #pop_up_content.playing #pop_up_play_dark, body.dark .music_container.playing #play_light, body.dark #pop_up_content.playing #pop_up_play_light, body.dark .music_container.playing #pause_light, body.dark #pop_up_content.playing #pop_up_pause_light {
	transition: opacity 300ms;
	opacity: 0;
} #next_light, #previous_light, #pop_up_next_light, #pop_up_previous_light,
body.dark #next_dark, body.dark #previous_dark, body.dark #pop_up_next_dark, body.dark #pop_up_previous_dark,
#play_light, #pop_up_play_light, body.dark #play_dark, body.dark #pop_up_play_dark,
.music_container.playing #pause_light, #pop_up_content.playing #pop_up_pause_light, body.dark .music_container.playing #pause_dark, body.dark #pop_up_content.playing #pop_up_pause_dark {
	transition: opacity 300ms;
	opacity: 0.8;
}

#cover {
	display: flex;
	align-items: center;
	justify-content: center;
}

#music_cover {
	width: 30px;
	height: 30px;
	opacity: 1;
	visibility: visible;
	object-fit: cover;
	animation: rotateImage 5s linear infinite;
	animation-play-state: paused;
} .music_container.playing #music_cover { animation-play-state: running }
#pop_up_content.playing #pop_up_settings_music_cover {
	animation: rotateImage 5s linear infinite;
	animation-play-state: running;
}

.warning_bar {
	padding: 8px;
	height: 46px;
	width: auto;
	flex-direction: row;
	display: flex;
	background-color: rgb(255, 255, 255);
	position: absolute;
	margin: auto;
} body.dark .warning_bar { background-color: rgb(53, 53, 53) }

.centerer {
	width: 0px;
	overflow: visible;
	justify-content: center;
	display: flex;
}

#warning_bar {
	left: 50%;
	position: fixed;
	top: -50px;
	transition: top 300ms;
} #warning_bar.show { top: 15px }
#warning_text { margin-left: 8px }

.text_dark, .text_light {
	padding: 0px;
	margin: auto 0px;
	font-size: 11px !important;
	font-weight: 700;
	overflow: visible;
	width: 0px;
} .text_light {
	color: var(--themeColor);
	left: 0px;
} body.dark .text_light { color: rgb(255, 255, 255) }
.text_dark {
	direction: rtl;
	color: rgb(50, 50, 50);
	right: 0px;
} body.dark .text_dark { color: var(--themeColor) }

html[lang = zh-Hans] .text_dark, html[lang = zh-Hans] .text_light { font-size: calc(12px + 0.3vw) !important }

.transitioning, .sidenav.transitioning * { transition: all 300ms !important }
	
.label_wrapper {
	width: calc(100% - 16px);
	height: 30px;
	min-width: 144px;
	padding: 8px;
	display: flex;
	gap: 12px;
	background-color: rgba(255, 255, 255, 0.2);
} body.dark .label_wrapper { background-color: rgba(0, 0, 0, 0.2) }

.button_wrapper {
	height: 30px;
	width: 30px;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.2);
} body.dark .button_wrapper { background-color: rgba(0, 0, 0, 0.2) }

article-card {
	height: calc(150px + 8vw);
	position: relative;
    flex: 1 1 220px;
	min-width: 220px;
	perspective: 1000px;
} article-card img { 
	transition: transform 300ms;
	border: none !important;
} .flip_front:hover .overlay { opacity: 0 }
.flip_front:hover img { transform: scale(1.1) }
.flip_front:hover .flip_button { opacity: 1 }

.flip_inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip_front, .flip_back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip_front { cursor: pointer }

.flip_back {
	background-color: rgba(255, 255, 255, 0.2);
	transform: rotateY(180deg);
} body.dark .flip_back { background-color: rgba(255, 255, 255, 0.1); }

.overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	height: 40%;
	background: linear-gradient(to top, rgb(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	padding: calc(8px + 0.4vw);
	display: flex;
	align-items: flex-end;
	color: white;
	margin: 0;
	border-radius: 0px 0px 15px 15px;
}

.flip_inner.flip { transform: rotateY(180deg) }
.flip_inner.hide .flip_front {
	opacity: 0 !important;
	filter: brightness(0.5);
}

.flip_button {
	border-radius: 20px !important;
	position: absolute;
	top: calc(6px + 0.3vw);
	right: calc(6px + 0.3vw);
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
} body.dark .flip_button { background-color: rgba(0, 0, 0, 0.2) }
.flip_button svg { fill: rgba(0, 0, 0, 0.7) }
body.dark .flip_button svg { fill: rgba(255, 255, 255, 0.8) }
.flip_button.hovered { background-color: rgba(255, 255, 255, 0.4) }
body.dark .flip_button.hovered { background-color: rgba(0, 0, 0, 0.4) }
.flip_button.hovered svg {
	fill: rgb(30, 30, 30);
	animation: rotateImage 0.6s 0.1s ease 1;
} body.dark .flip_button.hovered svg { fill: rgb(255, 255, 255) }

.flip_front .flip_button {
	backdrop-filter: blur(5px) saturate(200%);
	-webkit-backdrop-filter: blur(5px) saturate(200%);
}

@media (pointer:fine) { .flip_front .flip_button { opacity: 0 } }

.read_button {
	position: absolute;
	top: calc(6px + 0.3vw);
	left: calc(6px + 0.3vw);
	height: 40px;
	width: calc(100% - 58px - 0.9vw);
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.7);
} body.dark .read_button {
	background-color: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.8);
} .read_button:hover {
	background-color: rgba(255, 255, 255, 0.4);
	color: rgb(30, 30, 30);
} body.dark .read_button:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: rgb(255, 255, 255);
}

.description_area {
	position: absolute;
	top: calc(53px + 0.7vw);
	right: calc(6px + 0.3vw);
	left: calc(7px + 0.4vw);
	bottom: calc(7px + 0.4vw);
	overflow-x: hidden;
} .description {
	margin: auto 3px auto 0;
	text-align: left;
	font-size: calc(14px + 0.05vw) !important;
	line-height: calc(20px + 0.05vw) !important;
} .description_area .centerer {
	position: absolute;
	top: 50%;
	right: 50%;
	height: 0px;
	align-items: center;
} html[lang = zh-Hans] .description {
	font-size: calc(13px + 0.05vw) !important;
	line-height: calc(19px + 0.05vw) !important;
} .description_area .centerer p { text-wrap: nowrap }

.title {
	font-size: 20px;
	margin: auto 0px 0px 0px;
	line-height: 21px;
}

.background {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 100%;
	width: calc(100% - 30px);
	max-width: 1200px;
	bottom: -100%;
	margin: 15px;
	box-sizing: border-box;
	transition: top 500ms, bottom 500ms, background-color 300ms, background-image 300ms, backdrop-filter 300ms, -webkit-backdrop-filter 300ms;
	background-image: url(https://img1.tucang.cc/api/image/show/860e018590474b3bfc6e47b2282a15fc);
	background-size: 25px;
	background-color: rgba(255, 255, 255, 0.65);
	-webkit-backdrop-filter: blur(50px) saturate(330%);
	backdrop-filter: blur(50px) saturate(330%);
	transform: translateZ(0px);
	overflow: hidden;
	border-radius: 30px !important;
} .background.on_dragging {
	-moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
	-webkit-user-select: none;
    user-select: none;
} body.slide .background {
	top: 0px;
	bottom: 0px;	
} body.dark .background {
	background-image: url(https://img1.tucang.cc/api/image/show/008c1e091030a4418249fa8070d96315);
	background-color: rgba(0, 0, 0, 0.65);
	-webkit-backdrop-filter: blur(50px) saturate(300%) brightness(120%);
	backdrop-filter: blur(50px) saturate(300%) brightness(120%);
}

.sidenav_wrapper { display: flex }

.vertical_division {
	height: 100%;
	width: 0.75px;
} .division {
	height: 0.75px;
	width: 100%;
}.division, .vertical_division { background-color: rgba(255, 255, 255, 0.4) }
body.dark .division, body.dark .vertical_division { background-color: rgba(255, 255, 255, 0.2) }

#previous, #pop_up_previous { transform: rotate(180deg) }

footer + hr {
	margin: 0px 15px;
	width: calc(100% - 30px);
}

#pop_up_language { margin: 15px 0px }

.sidenav {
	display: flex;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 15px;
	height: calc(100% - 30px);
	flex-direction: column;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
} body.dark .sidenav {
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.3);
}

.stretch_bar_wrapper {
	height: 100%;
	width: 0.75px;
	overflow: visible;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.4);
} .stretch_bar {
	width: 15px;
	height: 100%;
	cursor: e-resize;
	position: relative;
	left: -7.5px;
}.stretch_bar_wrapper:hover { background-color: rgb(109, 173, 208) }
body.dark .stretch_bar_wrapper:hover { background-color: rgb(190, 222, 248) }
body.dark .stretch_bar_wrapper { background-color: rgba(255, 255, 255, 0.2) }

@media (min-width: 767px) {
	#search_bar_center_wrapper { height: 0px }

	#search_bar_center {
		writing-mode: sideways-lr;
		height: 0px;
	}

	#category_wrapper { margin: auto 0 }

	.sidenav_wrapper {
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.upper { border-radius: 15px 15px 5px 5px !important; margin: 0px 0px 2.5px 0px }
	.lower { border-radius: 5px 5px 15px 15px !important; margin: 2.5px 0px 0px 0px }
	.middle { border-radius: 5px !important; margin: 2.5px 0px }

	.sidenav.minimal { width: 46px }

	.sidenav.minimal .music_container { height: 46px }

	.sidenav.minimal .text_dark, .sidenav.minimal .text_light { opacity: 0 }

	@media (max-height: 579.9px) { .stretch_bar_wrapper { pointer-events: none } }

	.sidenav.super_minimal .entry {
		height: 0;
		margin: 0;
		border: none;
		box-shadow: none;
	}

	.sidenav.super_minimal #search_bar_wrapper {
		overflow: hidden;
		margin: 0px;
	}
	
	.sidenav.super_minimal #search_bar_center_wrapper { margin: 15px 0px !important }

	.entry { height: 46px }
}

@media (max-width: 766.9px) {
	.background {
		margin: 10px;
		width: calc(100% - 20px);
		border-radius: 25px !important;
	}

	.corner_svg {
		height: 60px;
		width: 60px;
	}

	#category_wrapper { margin: 0 auto }

	.article_title {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	.upper { border-radius: 15px 5px 5px 15px !important; margin: 0 2.5px 0 0 }
	.lower { border-radius: 5px 15px 15px 5px !important; margin: 0 0 0 2.5px }
	.middle { border-radius: 5px !important; margin: 0 2.5px }

	.directory { gap: 10px }

	#pop_up_language { margin: 10px 0px }

	#crumb_navigation::-webkit-scrollbar { height: 2px }

	footer {
		top: 10px;
		margin: 0px 8px 10px 8px;
		padding: 8px 10px;
	}

	footer + hr {
		margin: 0px 10px;
		width: calc(100% - 20px);
	}

	#search_bar_center_wrapper { width: 0px }

	.sidenav {
		height: 46px;
		width: calc(100% - 20px);
		padding: 10px;
		flex-direction: row;
	}

	.division {
		height: 100%;
		width: 0.75px;
	}

	.background { flex-direction: column }

	.sidenav_wrapper {
		flex-direction: row;
		height: 100%;
		width: auto;
	}

	.stretch_bar_wrapper {
		width: 100%;
		height: 0.75px;
		pointer-events: none;
	}

	.sidenav .text_dark, .sidenav .text_light { opacity: 0 }

	.entry { width: 46px }

	.sidenav.super_minimal .entry {
		width: 0px;
		border: none;
		box-shadow: none;
		margin: 0;
	}

	.music_container {
		height: 46px;
		width: 46px;
	}

	.sidenav.super_minimal #search_bar_wrapper {
		overflow: hidden;
		margin: 0px;
		filter: none !important;
		border: none;
	}

	.sidenav.super_minimal #search_bar_center_wrapper { margin: 0px 10px !important }

	.sidenav.super_minimal #search_bar_center_wrapper .entry { width: 30px; padding: 8px }
}

.sidenav.super_minimal .music_container {
	height: 46px;
	width: 46px;
	margin: 0;
	border-radius: 15px !important;
}

.sidenav.super_minimal #about_label {
	height: 46px;
	width: 46px;
	border-radius: 15px !important;
	cursor: pointer !important;
	background-color: transparent !important;
	border: rgba(255, 255, 255, 0.4) solid 0.75px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
} body.dark .sidenav.super_minimal #about_label {
	border: rgba(255, 255, 255, 0.2) solid 0.75px;
	box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.3);
} .sidenav.super_minimal #about_label:hover { background-color: rgba(255, 255, 255, 0.4) !important;}
body.dark .sidenav.super_minimal #about_label:hover { background-color: rgba(0, 0, 0, 0.4) !important;}
.sidenav.super_minimal #about_label:active:hover { background-color: rgba(132, 67, 255, 0.5) !important }
body.dark .sidenav.super_minimal #about_label:active:hover { background-color: var(--themeColor) !important }


.sidenav.super_minimal #search_bar_center_wrapper {
	flex-grow: 1;
	border: rgba(255, 255, 255, 0.4) solid 0.75px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
} body.dark .sidenav.super_minimal #search_bar_center_wrapper {
	border: rgba(255, 255, 255, 0.2) solid 0.75px;
	box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.3);
}

#search_bar_center_wrapper {
	overflow: hidden;
	margin: 0px;
	border: none;
	box-shadow: none;
	border-radius: 23px;
	box-sizing: border-box;
}

.article_title {
	margin-left: 15px;
	margin-right: 15px;
}

.pop_up {
    height: calc(60% + 50px);
    width: calc(30% + 200px);
    background-color: rgb(247, 249, 250);
	transition: color 300ms, background-color 300ms, opacity 200ms, box-shadow 300ms;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: fixed;
	top: calc(20% - 25px);
    left: calc(35% - 100px);
    bottom: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    pointer-events: none;
    opacity: 0;
} body.dark .pop_up {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
	background-color: rgb(45, 45, 45);
} .pop_up::-webkit-scrollbar {
    display: none;
}

.shade {
    pointer-events: none;
    opacity: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    transition: opacity 300ms;
    backdrop-filter: blur(5px) saturate(120%);
    -webkit-backdrop-filter: blur(5px) saturate(120%);
    position: fixed;
}

input[type='radio'] {
    height: 0px;
    width: 0px;
    margin: 0px;
    visibility: hidden;
    overflow: hidden;
}

.pop_up_content {
	overscroll-behavior: contain;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin: 0px;
	height: 100%;
	background-color: transparent;
    display:flex;
    flex-direction:column;
    padding: 0px 15px 0px 15px;
    width: calc(100% - 30px);
} .pop_up_content::-webkit-scrollbar {
    display: none;
}

.pop_up_search_wrapper {
    margin: 15px 0px;
    height: calc(100% - 30px);
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.pop_up_search_wrapper input[type='text'] {
	width: 100%;
	border-radius: 15px 15px 0px 0px;
	background-color: rgb(255, 255, 255);
	transition: background-color 300ms;
} body.dark .pop_up_search_wrapper input[type='text'] { background-color: rgb(53, 53, 53) }

#pop_up_search_button {
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
} body.dark #pop_up_search_button { background-color: rgb(53, 53, 53); }
#pop_up_search_button:hover { background-color: rgba(255, 255, 255, 0.4) }
body.dark #pop_up_search_button:hover { background-color: rgba(0, 0, 0, 0.4) }
#pop_up_search_button:active:hover { background-color: rgba(132, 67, 255, 0.5) }
body.dark #pop_up_search_button:active:hover { background-color: var(--themeColor) }

#pop_up_music_title {
    margin: 15px auto 0px auto;
    height: 30px;
    width:fit-content;
    font-size: 18px;
}

.pop_up .progress_container { margin: 15px 0px }

#pop_up_music_cover { margin: auto auto 0px auto }

.pop_up .entry {
	visibility: visible;
	opacity: 1 !important;
	padding: 8px;
	width: 100%;
	flex-direction: row;
	display: flex;
	background-color: rgb(255, 255, 255);
} body.dark .pop_up .entry { background-color: rgb(53, 53, 53) }

.pop_up .text_light, .pop_up .text_dark {
	visibility: visible;
	opacity: 1;
}

#pop_up_title {
	margin: 0px auto;
	font-size: 22px;
	height: 30px;
	font-weight: 500;
    color: var(--themeColor);
}

@media (max-width: 768px) {
    .pop_up_content {
        padding: 0px 10px 0px 10px;
        width: calc(100% - 20px);
    }
    .pop_up_search_wrapper {
        margin: 10px 0px;
        height: calc(100% - 20px);
    }
}

input[type='checkbox'] {
    height: 0px;
    width: 0px;
    margin: 0px;
    visibility: hidden;
    overflow: hidden;
}

.toggleWrapper {
    height: 30px;
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.themeTogglerBig {
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: #83D8FF;
    border-radius: 15px;
    transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95), box-shadow 300ms;
} body.dark .themeTogglerBig { background-color: #749DD6 }
.themeTogglerBig-handler {
  	display: block;
  	position: relative;
  	z-index: 1;
  	top: 3px;
  	left: 3px;
  	width: 24px;
  	height: 24px;
  	background-color: #FFCF96;
  	border-radius: 12px;
  	box-shadow: 0 1px 3px rgba(0,0,0,.3);
  	transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  	transform:  rotate(-45deg);
} body.dark .themeTogglerBig-handler {
    background-color: #FFE5B5;
    transform: translate3d(20px, 0, 0) rotate(0);
}
.crater--1, .crater--2, .crater--3 {
	position: absolute;
	background-color: #E8CDA5;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	border-radius: 100%;
} body.dark .crater--1, .crater--2, .crater--3 { opacity: 1 }
.crater--1 {
	top: 9px;
	left: 7px;
	width: 2px;
	height: 2px;
} .crater--2 {
	top: 14px;
	left: 14px;
	width: 3px;
	height: 3px;
} .crater--3 {
	top: 5px;
	left: 12px;
	width: 4px;
	height: 4px;
}
.star--1, .star--2, .star--3, .star--4, .star--5, .star--6 {
    position: absolute;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
	z-index: 0;
} .star--1 {
    top: 5px;
    left: 19px;
    width: 17px;
    height: 1.5px;
} .star--2 {
    top: 11px;
    left: 16px;
    z-index: 1;
    width: 17px;
    height: 1.5px;
} .star--3 {
    top: 17px;
    left: 22px;
    width: 17px;
    height: 1.5px;
} .star--4, .star--5, .star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
} body.dark .star--4, body.dark .star--5, body.dark .star--6 {
    opacity: 1;
    transform: translate3d(0,0,0);
} .star--4 {
    top: 10px;
    left: 5px;
    width: 1px;
    height: 1px;
    transform: translate3d(3px,0,0);
} .star--5 {
    top: 20px;
    left: 8px;
    width: 1.5px;
    height: 1.5px;
    transform: translate3d(3px,0,0);
} .star--6 {
    top: 24px;
    left: 14px;
    width: 1px;
    height: 1px;
    transform: translate3d(3px,0,0);
} body.dark .star--1 {
    width: 1px;
    height: 1px;
} body.dark .star--2 {
    width: 2px;
    height: 2px;
    transform: translate3d(-5px, 0, 0);
} body.dark .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0);
} body.dark .star--4 { transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) }
body.dark .star--5 { transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95) }
body.dark .star--6 { transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) }

body.dark .themeTogglerSmall__circle { transform: scale(1.7) }
body.dark .themeTogglerSmall__inner { transform: translate3d(3px, -3px, 0) scale(1.3) }
body.dark .themeTogglerSmall g path { transform: scale(0.6) }
.themeTogglerSmall {
	transform: scale(0.95, 0.95);
	position: absolute;
	fill: #ffab44;
	opacity: 0;
	transition: fill 300ms cubic-bezier(0, 0, 0, 1.25);
} body.dark .themeTogglerSmall { fill: #749DD6 }
.sidenav.minimal .themeTogglerSmall, .pop_up .themeTogglerBig { opacity: 1 }
.sidenav.minimal .themeTogglerBig, .sidenav.super_minimal .themeTogglerSmall { opacity: 0 }
.themeTogglerSmall * {
    transform-origin: center;
    transition: transform 300ms cubic-bezier(0, 0, 0, 1.25);
}
@media (max-width: 766.9px) {
	.themeTogglerSmall { opacity: 1 }
	.themeTogglerBig { opacity: 0 }
}