body {
	margin: 0px;
	font-family: Jost;
	font-size: 112.5%;
	transition: 300ms;
}

main {
	padding: 1px 15px 1px 15px;
}

hr {
	height: 1px;
	width: calc(100% - 18px);
	margin: 8px;
	background-color: rgb(210, 210, 210);
	transition: background-color 300ms;
	border: none;
} body.dark hr {
	background-color: rgb(100, 100, 100);
}

h1 {
	font-weight: 900;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: color 300ms;
} body.dark h1 {
	color: rgb(254, 247, 167);
} h2 {
	font-weight: 800;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: color 300ms;
} body.dark h2 {
	color: rgb(254, 247, 167);
} h3 {
	font-weight: 700;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: color 300ms;
} body.dark h3 {
	color: rgb(254, 247, 167);
} h4 {
	font-weight: 600;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: color 300ms;
} body.dark h4 {
	color: rgb(254, 247, 167);
} h5 {
	font-weight: 500;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: color 300ms;
} body.dark h5 {
	color: rgb(254, 247, 167);
} h6 {
	font-weight: 400;
	color: rgb(108, 46, 255);
	text-align: center;
	transition: color 300ms;
} body.dark h6 {
	color: rgb(254, 247, 167);
}

p {
	font-weight: 300;
	color: rgb(60, 60, 60);
	transition: color 300ms;
} body.dark p {
	color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(102, 47, 255);
	font-weight: 800;
	font-style: italic;
	border-radius:10px;
	transition: color 300ms;
} body.dark a {
	color: rgb(254, 247, 167);
} a:hover {
    color: rgb(109, 173, 208);
	transition: color 300ms;
} body.dark a:hover {
	color: rgb(109, 173, 208);
}

img {
	border-radius: 10px;
	object-fit: contain;
	width: 100%;
	transition: box-shadow 300ms;
}

svg {
	overflow: visible;
}

.icon {
	box-shadow: 0px 0px 0px;
	margin: auto 0px auto 0px;
} body.dark .icon {
	box-shadow: 0px 0px 0px;
} .center_text {
	display: flex;
	align-items: center;
	margin: auto auto auto 12px;
	padding: 0px;
	font-weight: 300;
	transition: color 300ms, opacity 300ms;
	white-space: nowrap;
} .demobox .center_text {
	flex-direction: column;
}

.upper {
	border-radius: 10px 10px 0px 0px;
} .lower {
	border-radius: 0px 0px 10px 10px;
}

.color {
	color: rgb(60, 60, 60);
} body.dark .color {
	color: rgb(255, 255, 255);
} .shadow {
	box-shadow: 0px 2px 5px rgb(200, 200, 200);
} body.dark .shadow {
	box-shadow: 0px 2px 5px rgb(30, 30, 30);
} .fancy_color {
	color: #FFCF96;
} body.dark .fancy_color {
	color: #749DD6;
}

.sidenav {
	height: calc(100% - 30px);
	width: 150px;
	display: flex;
	flex-direction: column;
	margin: 15px 0px 15px 15px;
	transition: width 0ms;
} .sidenav_wrapper {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	margin: 0px;
	border-radius: 10px;
	transition: box-shadow 300ms;
} .division {
	height: 1px;
	width: 100%;
	background-color: rgb(210, 210, 210);
	transition: background-color 300ms;
} body.dark .division {
	background-color: rgb(30, 30, 30);
}

.entry {
	cursor: pointer;
    padding: 8px 8px 8px 8px;
	background-color: rgb(247, 249, 250);
	display: flex;
	flex-direction: row;
	font-weight: 300;
	height: 30px;
	transition: background-color 300ms, box-shadow 300ms;
	margin-top: auto;
	margin-left: 0px;
} body.dark .entry {
	color: rgb(255, 255, 255);
	background-color: rgb(45, 45, 45);
}

.clickable:hover {
    color: rgb(109, 173, 208);
    background-color: rgb(229, 238, 245);
} body.dark .clickable:hover {
	color: rgb(190, 222, 248);
	background-color: rgb(60, 60, 60);
} .clickable:active:hover {
    background-color: rgb(190, 222, 248);
} body.dark .clickable:active:hover {
	color: rgb(190, 222, 248);
	background-color: rgb(75, 75, 75);
}

.demobox {
	flex: 1 1 auto;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 8px 8px 8px 8px;
	text-align: center;
	display: flex;
	transition: background-color 300ms, box-shadow 300ms;
} body.dark .demobox {
	background-color: rgb(53, 53, 53);
}

.rectangle {
	background-color: rgb(247, 249, 250);
	border-radius: 10px;
	transition: color 300ms, background-color 300ms, opacity 200ms, box-shadow 300ms;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: fixed;
	margin: 0px;
	right: 15px;
	bottom: 15px;
} body.dark .rectangle {
	background-color: rgb(45, 45, 45);
} .rectangle::-webkit-scrollbar {
    display: none;
}

.background {
	background-color: rgb(240, 244, 248);
	display: flex;
	z-index: -1;
	flex-direction: row;
	position: fixed;
	opacity: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: background-color 300ms, opacity 500ms;
} body.dark .background {
	background-color: rgb(38, 38, 38);
}

.stretch_bar_wrapper {
	height: calc(100% - 15px);
	width: 1px;
	padding: 7.5px 7px 7.5px 7px;
	background-color: transparent;
	cursor: e-resize;
} .stretch_bar {
	height: 100%;
	width: 100%;
	pointer-events: none;
	background-color: transparent;
	transition: background-color 300ms, box-shadow 300ms;
}

.spinner {
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	padding: 3px;
	overflow: visible;
} .spinner > circle {
	fill: none;
	stroke: currentColor;
	transition: stroke 300ms;
	cx: 50%;
	cy: 50%;
	r: 50%;
	stroke: rgb(108, 46, 255);
	stroke-width: 6px;
	stroke-linecap: round;
	transform-origin: center;
} body.dark .spinner > circle {
	stroke: rgb(254, 247, 167);
}

.checked {
	cursor: default;
	background-color: rgb(190, 222, 248);
	color: rgb(109, 173, 208);
} body.dark .checked {
	background-color: rgb(75, 75, 75);
	color: rgb(190, 222, 248);
} .checked:hover {
	background-color: rgb(190, 222, 248);
	color: rgb(109, 173, 208);
} body.dark .checked:hover {
	background-color: rgb(75, 75, 75);
	color: rgb(190, 222, 248);
}

.opacity {
	opacity: 0;
} .width {
	width: 0px;
} .height {
	height: 0px;
} .margin {
	margin: 0px;
}

@media (max-width: 767.9px) {
	.sidenav {
		height: auto;
		width: calc(100% - 30px);
		flex-direction: row;
		margin: 15px 15px 0px 15px;
	}

	.sidenav_wrapper {
		flex-direction: row;
		width: auto;
		height: 100%;
	}

	.entry {
		margin-left: auto;
		margin-top: 0px;
	}

	.background {
		flex-direction: column;
	}

	.sidenav .sidenav_wrapper .entry .center_text {
		height: 0px;
		width: 0px;
		margin: 0px;
		visibility: hidden;
		opacity: 0;
	}

	.division {
		height: 100%;
		width: 1px;
	}

	.stretch_bar {
		visibility: hidden;
	}

	.upper {
		border-radius: 10px 0px 0px 10px;
	} .lower {
		border-radius: 0px 10px 10px 0px;
	}
}