h1 {
	font-family: Noto Sans;
	font-weight: 800
}

h2 {
	font-family: Noto Sans;
	font-weight: 700
}

h3 {
	font-family: Noto Sans;
	font-weight: 600
}

h4 {
	font-family: Noto Sans;
	font-weight: 500
}

h5 {
	font-family: Noto Sans;
	font-weight: 400
}

h6 {
	font-family: Noto Sans;
	font-weight: 300
}

p {
	font-family: Noto Sans;
	font-weight: 200
}
