* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Radley;
}
a {
	color: aquamarine;
}
hr {
	height: 1px;
	width: 100%;
	margin: calc(5px + 1vw) 0px;
	background-color: rgb(255, 255, 255);
	border: none;
}
body {
	background: url("https://img1.tucang.cc/api/image/show/7f08f5c56dd28ec21b43c9bb1e61b65e") no-repeat center
		center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.poster {
	color: #ffffff;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(70px) saturate(200%);
	-webkit-backdrop-filter: blur(70px) saturate(200%);
	padding: calc(2px + 1.5vw);
	border-radius: calc(2px + 1.5vw);
	border: 0.75px solid rgb(160, 160, 160, 0.5);
	margin: calc(2px + 1.5vw);
	background-image: url(https://img1.tucang.cc/api/image/show/860e018590474b3bfc6e47b2282a15fc);
	background-size: 25px;
}
.background {
	flex-direction: column;
	position: fixed;
	left: 0;
	right: 0;
	top: 100%;
	bottom: -100%;
	transition:
		top 500ms,
		bottom 500ms;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: flex;
	min-height: 100vh;
	overflow-y: auto;
}
body.slide .background {
	top: 0;
	bottom: 0;
}
.background::-webkit-scrollbar {
	display: none;
}
h1 {
	font-size: 4vw;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-family: Cormorant SC;
}
h2 {
	font-size: 3vw;
	margin: calc(5px + 1.5vw) 0px;
	display: inline;
}
p,
li {
	margin: calc(5px + 1.5vw) 0px 0px 0px;
	font-size: calc(6px + 0.3vw);
	margin-bottom: calc(5px + 1vw);
}
ul {
	list-style: none;
	padding: 0;
	margin: 0 0 calc(5px + 1vw);
}
.continue {
	font-weight: 500;
	font-size: calc(10px + 1.5vw);
	position: absolute;
	bottom: 15px;
	text-shadow: 2px 2px 3px black;
	text-align: center;
	width: 100%;
	color: rgb(255, 255, 255);
	animation: myAnim 10s ease 0s infinite normal forwards;
}
.slogan {
	padding: calc(2px + 1.5vw);
	width: 100%;
	white-space: pre-wrap;
	font-size: calc(20px + 4vw);
	position: absolute;
	font-family: Cormorant SC;
	font-weight: 900;
	text-shadow: 3px 3px 6px rgb(40, 40, 40);
	text-align: center;
	color: rgb(254, 247, 167);
	top: 25%;
}
@keyframes glow {
	from {
		text-shadow:
			0 0 10px #ffcc00,
			0 0 30px #ffcc00,
			0 0 50px #ffcc00;
	}
	to {
		text-shadow:
			0 0 20px #ffcc00,
			0 0 50px #ffcc00,
			0 0 70px #ffcc00;
	}
}
@keyframes dial {
	0%,
	5% {
		transform: rotate(0deg);
	}
	5%,
	8.33% {
		transform: rotate(30deg);
	}
	13.66%,
	16.66% {
		transform: rotate(60deg);
	}
	22%,
	25% {
		transform: rotate(90deg);
	}
	30.33%,
	33.33% {
		transform: rotate(120deg);
	}
	38.66%,
	41.66% {
		transform: rotate(150deg);
	}
	47%,
	50% {
		transform: rotate(180deg);
	}
	55.33%,
	58.33% {
		transform: rotate(210deg);
	}
	63.66%,
	66.66% {
		transform: rotate(240deg);
	}
	72%,
	75% {
		transform: rotate(270deg);
	}
	80.33%,
	83.33% {
		transform: rotate(300deg);
	}
	88.66%,
	91.66% {
		transform: rotate(330deg);
	}
	97%,
	100% {
		transform: rotate(360deg);
	}
}
@keyframes dial2 {
	0%,
	7.913% {
		transform: rotate(0deg);
	}
	8.33%,
	16.243% {
		transform: rotate(30deg);
	}
	16.66%,
	24.583% {
		transform: rotate(60deg);
	}
	25%,
	32.913% {
		transform: rotate(90deg);
	}
	33.33%,
	41.243% {
		transform: rotate(120deg);
	}
	41.66%,
	49.583% {
		transform: rotate(150deg);
	}
	50%,
	57.913% {
		transform: rotate(180deg);
	}
	58.33%,
	66.243% {
		transform: rotate(210deg);
	}
	66.66%,
	74.583% {
		transform: rotate(240deg);
	}
	75%,
	82.913% {
		transform: rotate(270deg);
	}
	83.33%,
	91.243% {
		transform: rotate(300deg);
	}
	91.66%,
	99.583% {
		transform: rotate(330deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}
	20%,
	40%,
	60% {
		transform: translateY(8px);
	}
	80% {
		transform: translateY(6.4px);
	}
	90% {
		transform: translateY(-6.4px);
	}
}
.empha {
	color: #ffcc00;
	font-weight: bold;
	font-family: Cormorant SC;
	font-size: 3vw;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	margin-bottom: calc(5px + 1.5vw);
}
.footer {
	margin-top: calc(5px + 0.5vw);
	opacity: 0.8;
}
.footer p {
	font-size: 1.5vw;
}
.demo {
	display: flex;
	flex-direction: row;
	gap: calc(5px + 1.5vw);
}
.box {
	position: relative;
	height: calc(40vw - 20px);
	display: flex;
	align-items: center;
}
.hover-image {
	border-radius: calc(2px + 1.5vw);
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.3s;
	opacity: 1;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 2px 5px rgb(30, 30, 30);
}
.hover-image:hover {
	opacity: 0;
}
.dial {
	cursor: pointer;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	z-index: 1;
	filter: drop-shadow(5px 5px 5px #222);
}
.hover-text {
	font-size: 1.5vw;
	opacity: 1;
	position: absolute;
	transition: opacity 0.3s;
}
.showcase {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition:
		top 500ms,
		bottom 500ms;
}
body.slide .showcase {
	top: -100%;
	bottom: 100%;
}
.back {
	position: absolute;
	top: calc(2px + 0.5vw);
	left: calc(2px + 0.5vw);
	border-radius: calc(2px + 0.5vw);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding-right: calc(2px + 0.5vw);
	transition: background-color 0.3s;
}
.back:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.back:hover .label {
	opacity: 1;
}
.label {
	font-size: 1.75vw;
	margin: auto;
	opacity: 0;
	transition: opacity 0.3s;
}
.axis {
	display: flex;
	flex-direction: column;
	margin: 0px calc(5px + 1.5vw);
	justify-content: space-between;
}
svg {
	width: 2vw;
	height: 2vw;
}

@media (max-width: 690px) {
	.poster {
		margin: auto calc(2px + 1.5vw);
	}
}
