html {
    padding: 0px;
	-ms-overflow-style: none;
	scrollbar-width: none;
} html::-webkit-scrollbar {
    display: none;
}

main {
    scroll-behavior: smooth;
}

p.value {
    margin-top: 22px;
    margin-bottom: 22px;
    text-indent: -16pt;
    margin-left: 20pt;
    letter-spacing: 0.03em;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    .buttons {
        margin-left: 7.5px;
    }

    .questions {
        margin-right: 7.5px;
        margin-bottom: 0px !important;
        width: 60%;
    }

    .center {
        width: unset;
    }

    .responsive {
        height: 100% !important;
    }
}

.buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.questions {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 15px;
}

.center {
    border-radius: 10px;
    padding: 7.5px;
    background-color: white;
    width: calc(100% - 30px);
    height: calc(100px + 20vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 300ms, filter 300ms;
} body.dark .center {
    background-color: rgb(53, 53, 53);
}

.center p {
    margin: 0px;
    width: 100%;
    font-size: calc(10px + 2vw);
    text-align: center;
}

.labels {
    overflow: visible !important;
    width: 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto !important;
    font-size: calc(5px + 2.5vw) !important;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 7.5px;
    width: 25%;
}

img {
    transition: transform 300ms, filter 300ms !important;
    border-radius: 0px !important;
} .column img:hover {
    transform: scale(1.05);
} .axis img {
    filter: none;
    width: calc(50px + 5vw);
}

.spacer {
    display: flex;
}
.spacer > div{
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.button {
    font-family: Jost;
    background-color: #fff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 7.5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: color 300ms, background-color 300ms, filter 300ms;
    cursor: pointer;
    background: #03a9f4;
}

.button:hover, .button:focus { background: #1687e0; }
.stronglyAgree { background: #1b5e20; }
.stronglyAgree:hover, .stronglyAgree:focus { background: #154a19; }
.agree { background: #4caf50; }
.agree:hover, .agree:focus { background: #29942e; }
.neutral { background: #949494; }
.neutral:hover, .neutral:focus { background: #656565; }
.disagree { background: #f44336; }
.disagree:hover, .disagree:focus { background: #b6170e; }
.stronglyDisagree { background: #b71c1c; }
.stronglyDisagree:hover, .stronglyDisagree:focus { background: #920c0c; }

.small_button {
    background-color: #333;
}

.small_button:hover, .small_button:focus {
    background: #222;
}

.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
.arrow {
    width: 80%;
    height: auto;
}
div.explanation_blurb_left {
    vertical-align: top;
    width: 42.5%;
    margin-left: 1%;
    margin-right: 1%;
}
div.explanation_blurb_right {
    vertical-align: top;
    width: 42.5%;
    margin-left: 1%;
    margin-right: 1%;
}
div.explanation_axis {
    width: 15%;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: calc(10px + 4vw);
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}

div.equality {
    background-color: #f44336;
    border-right-style: solid;
}
div.wealth {
    background-color: #00897b;
    border-left-style: solid;
}
div.liberty {
    background-color: #ffeb3b;
    border-right-style: solid;
}
div.authority {
    background-color: #3f51b5;
    border-left-style: solid;
}
div.peace {
    background-color: #03a9f4;
    border-left-style: solid;
}
div.might {
    background-color: #ff9800;
    border-right-style: solid;
}
div.progress {
    background-color: #9c27b0;
    border-left-style: solid;
}
div.tradition {
    background-color: #8bc34a;
    border-right-style: solid;
}
.explanation_bg {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 15px;
    transition: background-color 300ms, filter 300ms;
} body.dark .explanation_bg {
    background-color: rgb(53, 53, 53);
}

.text-wrapper {
    font-size: calc(15px + 3vw);
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 300ms;
}