main:not(.VPHome) {
h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
    .header-anchor { &::before { display: none } }
}
h2 {
    font-size: 1.6rem;
    line-height: 1.6;
    padding-bottom: 0.5rem;
    border-top: 2px dashed var(--vp-c-brand-soft) !important;
    margin-top: 32px !important;
}
h3 {
    width: fit-content;
    font-size: 1.2rem;
    z-index: 0;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8px;
        border-radius: 3px;
        background-color: var(--vp-c-border);
        z-index: -1;
    }
}

h2,
h3,
h4 {
    transition: padding-left 0.2s ease-in-out;
    position: relative;
    &:hover {
        .header-anchor { opacity: 1 }
        padding-left: 30px;
    }
}

.header-anchor {
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    &::before {
        content: "#";
        position: absolute;
        left: 24px;
        color: var(--vp-c-brand-1);
        font-weight: bold;
    }
}

p {
    font-size: 17px;
    @media (max-width: 768px) { font-size: 16px }
}

p, ul, li, td {
    margin: 1rem 0;
    line-height: 1.8;
    @media (max-width: 768px) { line-height: 1.7 }
    code {
        color: var(--vp-c-brand-1) !important;
        background-color: var(--vp-c-brand-soft) !important;
    }
    a {
        text-decoration: none !important;
        position: relative;
        color: var(--vp-c-brand-1) !important;
        &::before {
            content: "";
            position: absolute;
            border-radius: 2px;
            bottom: 0px;
            left: 0;
            right: 0;
            height: 1px;
            opacity: 0.8;
            background-color: var(--vp-c-brand-1);
            border-radius: 4px;
            transition: all 0.3s;
        }
        &:hover {
            &::before {
                height: 100%;
                opacity: 0.2;
                bottom: -1px;
                left: -2px;
                right: -2px;
            }
        }
    }
    strong { color: var(--vp-c-brand-1) }
}

img {
    width: 100%;
    border-radius: 12px;
}

pre {
    width: 100%;
    overflow-y: auto;
    user-select: text;
}

ul {
    list-style-type: none;
    padding-left: 1rem;
    li {
        position: relative;
        padding-left: 1.2rem;
        margin: 0.6rem 0;
        overflow: auto;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.7rem;
            width: 0.6rem;
            height: 0.6rem;
            background-color: var(--vp-c-brand-1);
            border-radius: 50%;
        }
        p {
            &:first-child { margin-top: 0 }
            &:last-child { margin-bottom: 0 }
        }
    }
}

ol {
    padding-left: 2rem;
    li {
        &::marker {
            color: var(--vp-c-brand-1);
            font-weight: bold;
        }
    }
}

hr {
    margin: 1rem 0;
    height: 2px;
    border: none;
    background-color: var(--vp-c-border);
}

label {
    cursor: pointer;
}

  // radio
  .radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    .radio-point {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1rem;
      height: 1rem;
      margin: 0;
      margin-right: 12px;
      outline: 2px solid var(--vp-c-brand-1);
      border-radius: 50%;
      &::after {
        content: "";
        opacity: 0;
        position: absolute;
        width: 65%;
        height: 65%;
        background-color: var(--vp-c-brand-1);
        border-radius: 50%;
      }
      &.checked {
        &::after {
          opacity: 1;
        }
      }
    }
    p {
      margin: 0;
    }
  }

  .card {
    padding: 1rem 1.2rem;
    border-radius: 8px;
    border: 1px solid var(--vp-c-border);
    background-color: var(--main-card-second-background);
    box-shadow: 0 8px 16px -4px var(--main-border-shadow);
    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .button {
    outline: none;
    border-radius: 8px;
    padding: 6px 16px;
    border: 1px solid var(--vp-c-border);
    background-color: var(--main-card-second-background);
    transition: background-color 0.3s;
    cursor: pointer;
    p,
    a {
      padding: 0;
      margin: 0;
      font-size: 1rem;
      color: var(--vp-c-text-1);
      &::before {
        display: none;
      }
    }
    &.primary {
      color: var(--main-card-background);
      background-color: var(--vp-c-brand-1);
    }
    &:hover {
      background-color: var(--vp-c-border);
    }
  }
}