:root {
	--vp-home-hero-image-background-image: none !important;
	--vp-home-hero-image-filter: none !important;
}

// Vue Carousel
.carousel__track {
	margin: 0 !important;
	padding: 0 !important;
}
@media (max-width: 768px) {
	.carousel__viewport {
		width: 100vw !important;
		margin-left: -24px;
	}
}
.carousel {
	--vc-nav-color: var(--vp-c-text-1);
	--vc-nav-width: 40px;
	--vc-nav-height: 40px;
	--vc-nav-color-hover: var(--vp-c-brand-1);
	.carousel__next,
	.carousel__prev {
		transition: color 0.2s;
	}
}
