html {
    padding: 0px;
	-ms-overflow-style: none;
	scrollbar-width: none;
} html::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.value {
    margin: 0px 0px 5px 0px;
}

.buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.questions {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 15px;
}

.center {
    border-radius: 15px;
    padding: 7.5px;
    background-color: white;
    width: calc(100% - 30px);
    height: calc(100px + 20vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 300ms, box-shadow 300ms;
} body.dark .center {
    background-color: rgb(53, 53, 53);
}

.column img, .arrow {
    box-shadow: none;
    filter: drop-shadow(0px 2px 3px rgb(200, 200, 200))
} body.dark .column img, body.dark .arrow {
    box-shadow: none;
    filter: drop-shadow(0px 2px 3px rgb(30, 30, 30));
}

.blurb-text {
    margin: 0px;
    font-size: calc(15px + 0.3vw) !important;
}

.center p {
    margin: 0px;
    width: 100%;
    font-size: calc(10px + 2vw);
    text-align: center;
}

.labels {
    overflow: visible !important;
    width: 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto !important;
    font-weight: 800;
    font-size: calc(2px + 2vw) !important;
    text-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 7.5px;
    width: 25%;
}

.column img {
    transition: transform 300ms, filter 300ms;
    border-radius: 0px;
} .column img:hover {
    transform: scale(1.05);
} .axis img {
    box-shadow: none !important;
    border-radius: 0px !important;
    width: calc(50px + 5vw);
}

.spacer {
    margin: 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.spacer > div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button {
    font-family: Jost;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 7.5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: color 300ms, background-color 300ms, box-shadow 300ms;
    cursor: pointer;
    background-color: #03a9f4;
}

.button:hover, .button:focus { background: #1687e0; }
.stronglyAgree { background: #1b5e20; }
.stronglyAgree:hover, .stronglyAgree:focus { background: #154a19; }
.agree { background: #4caf50; }
.agree:hover, .agree:focus { background: #29942e; }
.neutral { background: #949494; }
.neutral:hover, .neutral:focus { background: #656565; }
.disagree { background: #f44336; }
.disagree:hover, .disagree:focus { background: #b6170e; }
.stronglyDisagree { background: #b71c1c; }
.stronglyDisagree:hover, .stronglyDisagree:focus { background: #920c0c; }

.small_button {
    background-color: #333;
}

.small_button:hover, .small_button:focus {
    background: #222;
}

.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
.arrow {
    fill:rgb(53, 53, 53);
    transition: fill 300ms, filter 300ms;
} body.dark .arrow {
    fill:rgb(255, 255, 255);
}

.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar {
    height: calc(10px + 4vw);
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}

.equality {
    background-color: #f44336;
    border-right-style: solid;
}
.wealth {
    background-color: #00897b;
    border-left-style: solid;
}
.liberty {
    background-color: #ffeb3b;
    border-right-style: solid;
}
.authority {
    background-color: #3f51b5;
    border-left-style: solid;
}
.peace {
    background-color: #03a9f4;
    border-left-style: solid;
}
.might {
    background-color: #ff9800;
    border-right-style: solid;
}
.progress {
    background-color: #9c27b0;
    border-left-style: solid;
}
.tradition {
    background-color: #8bc34a;
    border-right-style: solid;
}

.text-wrapper {
    font-size: calc(10px + 3vw);
    font-weight: 500;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 300ms;
}

.explanation_blurb_left {
    width: 100%;
}
.explanation_blurb_right {
    width: 100%;
    margin-top: 10px;
}
.explanation_axis {
    height: 0px;
    width: 0px;
    margin: 0px;
    visibility: hidden;
}

.center hr {
    margin: 0px 7.5px;
    width: calc(100% - 15px);
    visibility: visible;
    background-color: rgb(200, 200, 200);
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    .buttons {
        margin-left: 7.5px;
    }

    .questions {
        margin-right: 7.5px;
        margin-bottom: 0px !important;
        width: 60%;
    }

    .center {
        width: unset;
    }

    .responsive {
        height: 100% !important;
    }

    .spacer {
        flex-direction: row;
    }

    .explanation_blurb_left {
        width: 42.5%;
        margin-right: 7.5px;
    }
    .explanation_blurb_right {
        width: 42.5%;
        margin-left: 7.5px;
        margin-top: 0px;
    }
    .explanation_axis {
        width: 15%;
        margin: 0px 7.5px;
        height: auto;
        visibility: visible;
    }

    .center hr {
        margin: 0px;
        width: 0px;
        visibility: hidden;
    }
}